In [1]:
"""
Multiple length args"""

'\nMultiple length args'

In [2]:
def add(a,b):
    return a+b

In [3]:
add(1,2)

3

In [4]:
add(1,2,3)

TypeError: add() takes 2 positional arguments but 3 were given

In [5]:
def add(a,b,c=0):
    return a+b+c

In [6]:
add(1,2)

3

In [7]:
add(1,2,3)

6

In [8]:
add(1)

TypeError: add() missing 1 required positional argument: 'b'

In [9]:
add(1,2,3,4)

TypeError: add() takes from 2 to 3 positional arguments but 4 were given

In [10]:
"""
1. *args
here args is just a convention
we can use *a,*ab whatever we want 
note:- * it is compulsary
--it takes arguments in the form tuple . """

'\n1. *args\nhere args is just a convention\nwe can use *a,*ab whatever we want \nnote:- * it is compulsary'

In [11]:
def add(*args):
    print(args)

In [12]:
add(1,2)

(1, 2)

In [18]:
def add(*args):
    addition=0
    for var in args:
        addition+=var
    return addition

In [19]:
add(1)

1

In [20]:
add(1,2)

3

In [21]:
add(1,2,3)

6

In [23]:
add(1,2,3,4)

10

In [24]:
def greeting(*name):
    for var in name:
        print("welcome user",var)

In [25]:
lis=["Alice","Bob","Jhon","Smith"]

In [26]:
print(*lis)

Alice Bob Jhon Smith

In [27]:
greeting(*lis)#greeting(Alice,bob,jhon,smith)

welcome user Alice
welcome user Bob
welcome user Jhon
welcome user Smith

In [29]:
greeting("Alice","bob","jhon","smith")

welcome user Alice
welcome user bob
welcome user jhon
welcome user smith

In [30]:
d={}

In [31]:
d.update(name="AFzal")

In [32]:
d

{'name': 'AFzal'}

In [33]:
def name(name="Afzal"):
    print(name)

In [34]:
name()

Afzal

In [35]:
name("Sudha")

Sudha

In [36]:
"""
name=ALice
age=25
location=USa"""

'\nname=ALice\nage=25\nlocation=USa'

In [37]:
def details(**kwargs):
    print(kwargs)

In [38]:
details(name="Alice",age="25",location="USA")

{'name': 'Alice', 'age': '25', 'location': 'USA'}

In [39]:
def details(**kwargs):
    print(kwargs.items())

In [40]:
details(name="Alice",age="25",location="USA")

dict_items([('name', 'Alice'), ('age', '25'), ('location', 'USA')])

In [43]:
def details(**kwargs):
    for var in kwargs.items():
        print(var)

In [44]:
details(name="Alice",age="25",location="USA")

('name', 'Alice')
('age', '25')
('location', 'USA')

In [45]:
def details(**kwargs):
    for var,var2 in kwargs.items():
        print(f"{var}={var2}")

In [46]:
details(name="Alice",age="25",location="USA")

name=Alice
age=25
location=USA

In [47]:
"""
square(one=1,two=2,three=3)
the square of one is 1
the square of two is 4
rhe square of three is 9"""

'\nsquare(one=1,two=2,three=3)\nthe square of one is 1\nthe square of two is 4\nrhe square of three is 9'

In [48]:
def sq(**numbers):
    for name,value in numbers.items():
        print(f"The square of {name} is {value**2}")

In [49]:
sq(one=1)

The square of one is 1

In [50]:
sq(one=1,two=2,three=3)

The square of one is 1
The square of two is 4
The square of three is 9

In [53]:
def final_function(pos,default=0,*args,**kwargs):
    print("The postional arguments is ==",pos)
    print("The default argument is ==",default)
    print("The varible length *args is ==",args)
    print("The varible length **kwargs is ==",kwargs)

In [54]:
final_function(1)

The postional arguments is == 1
The default argument is == 0
The varible length *args is == ()
The varible length **kwargs is == {}

In [55]:
final_function(1,2)

The postional arguments is == 1
The default argument is == 2
The varible length *args is == ()
The varible length **kwargs is == {}

In [56]:
final_function(1,2,3)

The postional arguments is == 1
The default argument is == 2
The varible length *args is == (3,)
The varible length **kwargs is == {}

In [57]:
final_function(1,2,3,4,45,5,5656,5,65)

The postional arguments is == 1
The default argument is == 2
The varible length *args is == (3, 4, 45, 5, 5656, 5, 65)
The varible length **kwargs is == {}

In [59]:
final_function(1,2,3,4,45,5,5656,5,65,name="Hi",classs="Hello")

The postional arguments is == 1
The default argument is == 2
The varible length *args is == (3, 4, 45, 5, 5656, 5, 65)
The varible length **kwargs is == {'name': 'Hi', 'classs': 'Hello'}

In [61]:
number=input("Enter the number: ")
temp=number
if number==temp[::-1]:
    print("The number is palindorme",number)
else:
    print("This number is not palindorme",number)

Enter the number: 134
This number is not palindorme 134

"""
Algorotham:::---
1.take an integer from the user and store into a varible
2.Transfer this value to the another temp variable
3.declare another variable name rev which will initialize by 0
4.by using while loop get each digit of the number and do modulus with 10 and then further multiply with 10 and add with the remainder which we got by modulus opertion"
5. check if rev==temp then number is palindrome otherwise it is not."

In [74]:
number=int(input("Enter the number : "))
temp=number
reverse=0
while number>0:
    digit=number%10
    reverse=reverse*10+digit
    number=number//10
if temp==reverse:
    print("Number is palindrome")
else:
    print("Number is not palindorme")

Enter the number : 5463543
Number is not palindorme

In [66]:
121%10

1

In [67]:
0*10+1

1

In [68]:
121//10

12

In [69]:
12%10

2

In [70]:
12//10

1

In [75]:
"""
5 numbers 
return number which is palindrome."""

'\n5 numbers \nreturn number which is palindrome.'

In [ ]:
"""
lambda
map
filter
reduce"""