In [1]:
student={"name":"Avnish",
        "college":"Arya",
        "branch":"Mechanical"}

In [3]:
student.keys()

dict_keys(['name', 'college', 'branch'])

In [5]:
student.values()

dict_values(['Avnish', 'Arya', 'Mechanical'])

In [6]:
student.items()

dict_items([('name', 'Avnish'), ('college', 'Arya'), ('branch', 'Mechanical')])

In [7]:
for var in student:
    print(var)

name
college
branch

In [8]:
for var in student.values():
    print(var)

Avnish
Arya
Mechanical

In [9]:
for var in student.items():
    print(var)

('name', 'Avnish')
('college', 'Arya')
('branch', 'Mechanical')

In [10]:
student.keys()

dict_keys(['name', 'college', 'branch'])

In [12]:
print(student)

{'name': 'Avnish', 'college': 'Arya', 'branch': 'Mechanical'}

In [13]:
student["name"]="Afzal"

In [14]:
student

{'name': 'Afzal', 'college': 'Arya', 'branch': 'Mechanical'}

In [15]:
student["branch"]="CSE"

In [16]:
student

{'name': 'Afzal', 'college': 'Arya', 'branch': 'CSE'}

In [17]:
student["location"]="jaipur"

In [18]:
student

{'name': 'Afzal', 'college': 'Arya', 'branch': 'CSE', 'location': 'jaipur'}

In [19]:
student.update(name="sakshi")

In [20]:
student

{'name': 'sakshi', 'college': 'Arya', 'branch': 'CSE', 'location': 'jaipur'}

In [21]:
"name"="sana"

SyntaxError: can't assign to literal (<ipython-input-21-326c6647c5b6>, line 1)

In [22]:
student.update(phone_no=1234567890)

In [24]:
student

{'name': 'sakshi',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890}

In [25]:
student.update(a="a",b="b")

In [26]:
student

{'name': 'sakshi',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b'}

In [28]:
d={"hi":"hello"}

In [29]:
student.update(d)

In [30]:
student

{'name': 'sakshi',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello'}

In [31]:
student.update()

TypeError: setdefault() takes no keyword arguments

In [32]:
student

{'name': 'sakshi',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello'}

In [34]:
name="afzal"
for var in student.keys():
    if "name"==var:
        student[var]=name
    else:
        student["name"]=name

In [37]:
student

{'name': 'afzal',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello',
 'H': 'afzal'}

In [38]:
H="afzal"
for var in student.keys():
    if "H"==var:
        student[var]=H
    else:
        student["H"]=H

In [39]:
student

{'name': 'afzal',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello',
 'H': 'afzal'}

In [40]:
student.setdefault("color","black")

'black'

In [42]:
student

{'name': 'afzal',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello',
 'H': 'afzal',
 'color': 'black'}

In [43]:
student.setdefault("name","black")

'afzal'

In [44]:
student

{'name': 'afzal',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello',
 'H': 'afzal',
 'color': 'black'}

In [46]:
def s(data):
    if data not in student.keys():
        student["name"]=datadassss#homework for sana

SyntaxError: 'return' outside function (<ipython-input-46-845cd7655d3d>, line 4)

In [47]:
if "name" not in student.keys():
    student["name"]="hi"
else:
    print(student["name"])

afzal

In [48]:
if "AB" not in student.keys():
    student["AB"]="hi"
    print(student["AB"])
else:
    print(student["AB"])

hi

In [49]:
student

{'name': 'afzal',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello',
 'H': 'afzal',
 'color': 'black',
 'AB': 'hi'}

In [52]:
student.setdefault([("a","B")])

TypeError: unhashable type: 'list'

In [51]:
student

{'name': 'afzal',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello',
 'H': 'afzal',
 'color': 'black',
 'AB': 'hi',
 ('a', 'B'): None}

In [53]:
a={}

In [54]:
a.setdefault("a","b")

'b'

In [55]:
a

{'a': 'b'}

In [56]:
a.setdefault("c")

In [57]:
a

{'a': 'b', 'c': None}

In [58]:
a.setdefault([("a","B")])

TypeError: unhashable type: 'list'

In [59]:
#how to update multiple values in dictionary with the help setdefault method .

In [61]:
print(dir(a))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [62]:
student

{'name': 'afzal',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello',
 'H': 'afzal',
 'color': 'black',
 'AB': 'hi',
 ('a', 'B'): None}

In [65]:
student.pop("AB")

'hi'

In [66]:
student.popitem()

(('a', 'B'), None)

In [67]:
student

{'name': 'afzal',
 'college': 'Arya',
 'branch': 'CSE',
 'location': 'jaipur',
 'phone_no': 1234567890,
 'a': 'a',
 'b': 'b',
 'hi': 'hello',
 'H': 'afzal',
 'color': 'black'}

In [69]:
name=["sana","Sakshi","piyush","afzal"]

In [70]:
d=dict.fromkeys(name)

In [71]:
d

{'sana': None, 'Sakshi': None, 'piyush': None, 'afzal': None}

In [73]:
name=["sana","Sakshi","piyush","afzal"]
d=dict.fromkeys(name,"Python")

In [74]:
d

{'sana': 'Python', 'Sakshi': 'Python', 'piyush': 'Python', 'afzal': 'Python'}

In [76]:
student={1001:{"a":"B"},
        1002:{"c":"d"}}

In [77]:
student

{1001: {'a': 'B'}, 1002: {'c': 'd'}}

In [78]:
student[1003]="S"

In [79]:
student

{1001: {'a': 'B'}, 1002: {'c': 'd'}, 1003: 'S'}

In [80]:
del student[1003]

In [81]:
student

{1001: {'a': 'B'}, 1002: {'c': 'd'}}

In [82]:
d={"hi":"hello"}

In [83]:
d

{'hi': 'hello'}

In [84]:
student[1003]=d

In [85]:
student

{1001: {'a': 'B'}, 1002: {'c': 'd'}, 1003: {'hi': 'hello'}}

In [88]:
d={"python":{"q1":{"a":"-----",
                   "b":"-----",
                   "c":"------",
                   "d":"-------"},
             "q2":{"a":"-----",
                   "b":"-----",
                   "c":"------",
                   "d":"-------"}},
  "c":{"q1":{"a":"-----",
                   "b":"-----",
                   "c":"------",
                   "d":"-------"},
             "q2":{"a":"-----",
                   "b":"-----",
                   "c":"------",
                   "d":"-------"}}}