In [1]:
#l=[var for var in range(1,10)]

In [3]:
var for var in range(1,10)

SyntaxError: invalid syntax (<ipython-input-3-75fbbb159e2d>, line 1)

In [5]:
l=[var for var in range(1,10)]
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
l=[]
for var in range(2,10):
    l.append(var)

In [7]:
l

[2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
l

[2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
sum(l)

44

In [2]:
account_details={1001:{"Name":"Prabodh",
                      "Amount":2000,
                      "Password":"23659"}}
Login_ID=int(input("Enter your account number : "))
if account_details.get(Login_ID):
    Password=input("Please enter your password : ")
    if account_details[1001]["Password"]==Password:
        print("This is your accound details:-- \n ",account_details.get(Login_ID))
    else:
        print("Your password is invalid")
else:
    print("This acount Does not exist")

Enter your account number : 1001
Please enter your password : 23659
This is your accound details:--
  {'Name': 'Prabodh', 'Amount': 2000, 'Password': '23659'}

In [11]:
account_details

{1001: {'Name': 'Prabodh', 'Amount': 2000, 'Password': '23659'}}

syntax
def name(aruments):
    statement-1
    statement-2
    .
    .
    statement-n
    return

name(arguments)

In [8]:
a=int(input())
b=int(input())
add=a+b
print("total",add)#print(f"total {add}")#print("total {}".format(add))
print(f"total {add}")
print("total {}".format(add))

3
3
total 6
total 6
total 6

In [9]:
def add(a,b):
    add=a+b
    return add

In [10]:
add()

TypeError: add() missing 2 required positional arguments: 'a' and 'b'

In [12]:
value=add(1,2)

In [13]:
value

3

In [14]:
name=input("Enter your name : ")
name=name[::-1]
print(name)

Enter your name : Prabodh
hdobarP

In [15]:
def name(name):
    name=name[::-1]
    return name

In [16]:
name("AFzal")

'lazFA'

In [17]:
name

In [18]:
name="AFzal"

In [19]:
name[1:-3:]

'F'

In [20]:
name="Prabodh"

In [21]:
print(name)

Prabodh

In [22]:
print("Prabodh")

Prabodh

In [23]:
def name(name):#formal
    print("welcome Mr/Mrs",name)

In [24]:
name_="Prabodh"

In [25]:
name(name_)#actual

welcome Mr/Mrs Prabodh

In [26]:
name("Sana")

welcome Mr/Mrs Sana

In [28]:
a=3
b=7
def add(a,b):
    addition=a+b
    return addition
add(a,b)
print(addition)

NameError: name 'addition' is not defined

In [29]:
a=3
b=7
def add(a,b):
    addition=a+b
    return addition
print(add(a,b))
print(addition)

10

NameError: name 'addition' is not defined

In [1]:
import random

In [2]:
l=[var for var in range(10)]

In [5]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
random.choice(l)

7

In [9]:
l=[var for var in range(10)]

In [10]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
sum(l)

45

In [13]:
k=range(10)

In [14]:
type(k)

range

In [15]:
print(k)

range(0, 10)

In [16]:
list(k)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [22]:
account_details={1001:{"Name":"Prabodh",
                      "Amount":2000,
                      "Password":"23659"}}
ID=int(input("Enter your account number : "))
P=input("Please enter your password : ")

Enter your account number : 68768
Please enter your password : gjygjh

In [23]:
def login(Login_ID,Password):#Formal arguments
    if account_details.get(Login_ID):
        if account_details[1001]["Password"]==Password:
            return account_details.get(Login_ID)
        else:
            return"Your password is invalid"
    else:
        return"This acount Does not exist"

In [28]:
#details=login(ID,P)
login(1001,"23659")#Actual arguments

{'Name': 'Prabodh', 'Amount': 2000, 'Password': '23659'}

In [26]:
print(details)

This acount Does not exist

In [36]:
a=int(input("Enter your number : "))
print(a)
b=int(input("Enter your number : "))
print(b)
def addition(x,y):
    print(x)
    print(y)
    add=x+y
    print(add)
    return add
new=addition(a,b)
print(new)
print(add)

Enter your number : 5
5
Enter your number : 6
6
5
6
11
11

NameError: name 'add' is not defined

In [31]:
#new=addition(a,b)

5
6
11

In [32]:
#print(new)

11

In [33]:
a

5

In [34]:
b

6

In [35]:
#print(add)

NameError: name 'add' is not defined

# 1 .without arguments and without return type

In [37]:
def hello():
    print("Welcome to my world")

In [38]:
hello()

Welcome to my world

In [39]:
a=hello()

Welcome to my world

In [41]:
print(a)

None

In [42]:
def introduce():
    print("Hello User !")
    print("You are coding in python .")

In [43]:
introduce()

Hello User !
You are coding in python .

# 2. with arguments and without return type

In [44]:
def introduction(data_name):
    print("Good morning !",data_name)

In [46]:
introduction("Piyush")

Good morning ! Piyush

In [47]:
name="SAna"

In [48]:
introduction(name)

Good morning ! SAna

# 3 .without argunments with return type

In [49]:
def greeting():
    return "Hello"

In [50]:
greeting()

'Hello'

# 4. with arguments and with return type

In [51]:
def greeting(name):
    print("Welcome to my world")
    return name.upper()

In [54]:
new=greeting("Piyush")

Welcome to my world

In [55]:
print(new)

PIYUSH

In [56]:
#positional argument

In [57]:
print("Piyush","Sana")

Piyush Sana

In [58]:
def output(a,b,c,d):
    print(a,b,c,d)

In [59]:
output("Sana","Piyush")

TypeError: output() missing 2 required positional arguments: 'c' and 'd'

In [60]:
output("SAna","Piyush","AFzal","nitesh")

SAna Piyush AFzal nitesh

In [62]:
output(7,"Afzal","Sana","Nitesh")

7 Afzal Sana Nitesh

In [64]:
output("Prabodh","piyush","Sana","Prabodh")

Prabodh piyush Sana Prabodh

In [77]:
def addition(a=0,b=0,c=0,d=0):
    add = a+b+c+d
    return add

In [78]:
addition(1)
addition(1,2)
addition(1,2,3)
addition(1,2,3,4)
addition(1,2,3,4,5)

TypeError: addition() takes from 0 to 4 positional arguments but 5 were given

In [87]:
def name(a="AFzal",b=""):
    return print(a,b)

In [88]:
name("Sana")

Sana

In [89]:
# *args
# **kwargs

In [93]:
def name(*name):
    print(type(name))
    print(name)
    for var in name:
        print(var)

In [94]:
name("Prabodh")

<class 'tuple'>
('Prabodh',)
Prabodh

In [95]:
name("Prabodh","Ayush","Piyuhs","Afzal","Sana","Nitesh","Pooja")

<class 'tuple'>
('Prabodh', 'Ayush', 'Piyuhs', 'Afzal', 'Sana', 'Nitesh', 'Pooja')
Prabodh
Ayush
Piyuhs
Afzal
Sana
Nitesh
Pooja

In [96]:
def add(*integers):
    add=0
    for var in integers:
        add+= var
    return add

In [97]:
add(1,2,3)

6

In [98]:
add(1)

1

In [99]:
add(1,2,3,34,4,3,2,2)

51

In [101]:
def details(**matter):
    return matter

In [108]:
details(piyush="Btech",sana="BCA",prabodh="BBA")

{'piyush': 'Btech', 'sana': 'BCA', 'prabodh': 'BBA'}

In [111]:
details(piyush="Btech",sana="BCA",prabodh="BBA")
#"Piyush"="Btech"
#"sana"="BCA"
#"prabodh"="BBA"

{'piyush': 'Btech', 'sana': 'BCA', 'prabodh': 'BBA'}

In [116]:
def details(**matter):
    for var,var2 in matter.items():
        print(f"{var}={var2}")

In [117]:
details(piyush="Btech",sana="BCA",prabodh="BBA")

piyush=Btech
sana=BCA
prabodh=BBA

In [118]:
def details(**matter):
    for var,var2 in matter.items():
        print(var,"=",var2)

In [119]:
details(piyush="Btech",sana="BCA",prabodh="BBA")

piyush = Btech
sana = BCA
prabodh = BBA

In [125]:
d={"Name":["AFzal","Piyush"],
  "College":"Jhun jhun wala university",
  "Mob":77719171728}

In [126]:
d

{'Name': ['AFzal', 'Piyush'],
 'College': 'Jhun jhun wala university',
 'Mob': 77719171728}

In [127]:
d.items()

dict_items([('Name', ['AFzal', 'Piyush']), ('College', 'Jhun jhun wala university'), ('Mob', 77719171728)])

In [135]:
#SUMMARRY
def summary(a,b,c,d=0,e=0,*args,**kwargs):
    print("Positional----> ",a,b,c)
    print("default---->",d,e)
    print("*args =multiple variable argumnet--->",args)
    print("Keyword arguments---->",kwargs)
    print("\n")
    print("\n")

In [136]:
summary(1,2,3)
summary(1,2,3,100,200)
summary(1,2,3,100,200,"P","Y","T","H","O","N")
summary(1,2,3,*"PYTHON",piyush="Btech",sana="BCA",prabodh="BBA")

Positional---->  1 2 3
default----> 0 0
*args =multiple variable argumnet---> ()
Keyword arguments----> {}




Positional---->  1 2 3
default----> 100 200
*args =multiple variable argumnet---> ()
Keyword arguments----> {}




Positional---->  1 2 3
default----> 100 200
*args =multiple variable argumnet---> ('P', 'Y', 'T', 'H', 'O', 'N')
Keyword arguments----> {}




Positional---->  1 2 3
default----> P Y
*args =multiple variable argumnet---> ('T', 'H', 'O', 'N')
Keyword arguments----> {'piyush': 'Btech', 'sana': 'BCA', 'prabodh': 'BBA'}