In [8]:
def odd(number):
    if number%2==0:
        return False
    else:
        return True

In [2]:
data=[var for var in range(51)]

In [3]:
print(data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

In [4]:
empty_data=[]
for var in data:
    if var%2==0:
        pass
    else:
        empty_data.append(var)

In [5]:
print(empty_data)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [9]:
for var in data:
    empty_data.append(odd(var))

In [11]:
print(empty_data)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False]

In [12]:
even=lambda number : True if number%2==0 else False

In [16]:
empty_data=[]
for var in data:
    empty_data.append(even(var))

In [18]:
print(empty_data)

[True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True, False, True]

In [27]:
empty_data=[]
for var in data:
    empty_data.append(lambda number : True if number%2==0 else False)

In [30]:
print(list(empty_data))

[<function <lambda> at 0x000002CFC0A3ED90>, <function <lambda> at 0x000002CFC0A3ED08>, <function <lambda> at 0x000002CFC0A3EE18>, <function <lambda> at 0x000002CFC0A3EEA0>, <function <lambda> at 0x000002CFC0A3EF28>, <function <lambda> at 0x000002CFC0A3EC80>, <function <lambda> at 0x000002CFC0A3E7B8>, <function <lambda> at 0x000002CFC0A3EBF8>, <function <lambda> at 0x000002CFC0A3E8C8>, <function <lambda> at 0x000002CFC0A3EAE8>, <function <lambda> at 0x000002CFC0A3E9D8>, <function <lambda> at 0x000002CFC0A3E950>, <function <lambda> at 0x000002CFC0A3EA60>, <function <lambda> at 0x000002CFC0A4A048>, <function <lambda> at 0x000002CFC0A4A0D0>, <function <lambda> at 0x000002CFC0A4A158>, <function <lambda> at 0x000002CFC0A4A1E0>, <function <lambda> at 0x000002CFC0A4A268>, <function <lambda> at 0x000002CFC0A4A2F0>, <function <lambda> at 0x000002CFC0A4A378>, <function <lambda> at 0x000002CFC0A4A400>, <function <lambda> at 0x000002CFC0A4A488>, <function <lambda> at 0x000002CFC0A4A510>, <function <lambda> at 0x000002CFC0A4A598>, <function <lambda> at 0x000002CFC0A4A620>, <function <lambda> at 0x000002CFC0A4A6A8>, <function <lambda> at 0x000002CFC0A4A730>, <function <lambda> at 0x000002CFC0A4A7B8>, <function <lambda> at 0x000002CFC0A4A840>, <function <lambda> at 0x000002CFC0A4A8C8>, <function <lambda> at 0x000002CFC0A4A950>, <function <lambda> at 0x000002CFC0A4A9D8>, <function <lambda> at 0x000002CFC0A4AA60>, <function <lambda> at 0x000002CFC0A4AAE8>, <function <lambda> at 0x000002CFC0A4AB70>, <function <lambda> at 0x000002CFC0A4ABF8>, <function <lambda> at 0x000002CFC0A4AC80>, <function <lambda> at 0x000002CFC0A4AD08>, <function <lambda> at 0x000002CFC0A4AD90>, <function <lambda> at 0x000002CFC0A4AE18>, <function <lambda> at 0x000002CFC0A4AEA0>, <function <lambda> at 0x000002CFC0A4AF28>, <function <lambda> at 0x000002CFC0A49048>, <function <lambda> at 0x000002CFC0A490D0>, <function <lambda> at 0x000002CFC0A49158>, <function <lambda> at 0x000002CFC0A491E0>, <function <lambda> at 0x000002CFC0A49268>, <function <lambda> at 0x000002CFC0A492F0>, <function <lambda> at 0x000002CFC0A49378>, <function <lambda> at 0x000002CFC0A49400>, <function <lambda> at 0x000002CFC0A49488>]

In [31]:
#filter(function,iterable)

In [36]:
empty_data=filter(lambda number : True if number%2==0 else False,data)

In [37]:
print(list(empty_data))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [40]:
data=[var for var in range(1,1001)]

In [41]:
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]

In [65]:
empty_data=[]
for var in data:
    if var==2 or var==1:
        empty_data.append(var)
    else:
        for var_2 in range(2,var):
            if var%var_2==0:
                break
        else:
            empty_data.append(var)

In [66]:
print(empty_data)

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

In [61]:
empty_data=[]
var=10
for var_2 in range(2,var):
    if var%var_2==0:
        pass
        break
else:
    empty_data.append(var)

In [62]:
print(empty_data)

[]

#  HOMEWORK  --- ^

In [67]:
cube = lambda number : number**3

In [68]:
cube(10)

1000

In [69]:
cube(2)

8

In [73]:
even=lambda number : number if number%2==0 else print("Not even")

In [75]:
even(11)

Not even

In [81]:
if number%2==0 print("'even'"):
    pass

SyntaxError: invalid syntax (<ipython-input-81-d181c6bc577b>, line 1)

In [90]:
data=[var for var in range(1,21)]
empty_data=[]
for var in data:
    if var%2==0:
        empty_data.append(var)
    else:
        pass
print(empty_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [91]:
#filter(function,iterable)

In [97]:
print(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [100]:
def even(number):
    if number%2==0:
        return True
    else:
        return False

In [102]:
list(filter(even,data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [103]:
data

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [104]:
list(filter(lambda number: True if number%2==0 else False,data))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [105]:
data=[str(var) for var in range(20)]

In [106]:
print(data)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19']

In [109]:
new_data=[]
for var in data:
    new_data.append(int(var))

In [110]:
print(new_data)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [111]:
#map(function,iterable)
list(map(int,data))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [112]:
from functools import reduce

In [113]:
reduce(lambda x,y:x+y,[1,2,3,4,4,5,6,7])

32