In [1]:
#tuple(iterable)

In [2]:
t=(1,2,3,4,"aFzal")

In [3]:
t

(1, 2, 3, 4, 'aFzal')

In [4]:
type(t)

tuple

In [5]:
t[1]

2

In [6]:
t[1]="SAna"

TypeError: 'tuple' object does not support item assignment

In [7]:
t=(1,2,3,4)

In [8]:
t1=(5,6,7,8)

In [9]:
t2=t+t1

In [10]:
t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [11]:
l=[var for var in range(3)]

In [12]:
l

[0, 1, 2]

In [13]:
l2=[1,1,1]

In [14]:
l

[0, 1, 2]

In [15]:
l2

[1, 1, 1]

In [17]:
l+l2

[0, 1, 2, 1, 1, 1]

In [18]:
l*"python"

TypeError: can't multiply sequence by non-int of type 'str'

In [19]:
l*10

[0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2,
 0,
 1,
 2]

In [23]:
print(l)

[0, 1, 2]

In [24]:
l

[0, 1, 2]

In [26]:
l=l*10

In [28]:
print(l)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [29]:
t=(1,2,3)

In [30]:
t*2

(1, 2, 3, 1, 2, 3)

In [31]:
t=(var for var in range(10))

In [35]:
t=(1,2,3,4,5,6,7,8,9)

In [36]:
t

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [37]:
range(10)

range(0, 10)

In [39]:
print(*range(10))#print(0,1,2,3,4,5,6,7,8,9)

0 1 2 3 4 5 6 7 8 9

In [40]:
print(*range(15,20))

15 16 17 18 19

In [88]:
print(*range(0,100,13))

0 13 26 39 52 65 78 91

In [89]:
l=[var for var in range(0,131,13)]

In [90]:
l

[0, 13, 26, 39, 52, 65, 78, 91, 104, 117, 130]

In [91]:
t=(var for var in range(10))

In [92]:
t

In [93]:
t=(1,2,3,4,5,6)

In [94]:
t

(1, 2, 3, 4, 5, 6)

In [95]:
type(t)

tuple

In [96]:
t=([1,2,3,4,5],1,2,3,4,5)

In [97]:
t

([1, 2, 3, 4, 5], 1, 2, 3, 4, 5)

In [98]:
type(t)

tuple

In [99]:
t[0]

[1, 2, 3, 4, 5]

In [100]:
t[0][1]="AFzal"

In [101]:
t

([1, 'AFzal', 3, 4, 5], 1, 2, 3, 4, 5)

In [102]:
t=([1,2,3,4,5],1,2,3,4,5)

In [103]:
id(t)

2526186883688

In [104]:
type(t)

tuple

In [105]:
t[0][1]="AFzal"

In [106]:
t

([1, 'AFzal', 3, 4, 5], 1, 2, 3, 4, 5)

In [107]:
id(t)

2526186883688

In [108]:
t[0]="afzal"

TypeError: 'tuple' object does not support item assignment

In [ ]:
t=(1)

In [ ]:
type(t)

In [ ]:
t=(1,2)

In [ ]:
type(t)

In [ ]:
a=1,2,3

In [ ]:
a

In [ ]:
type(a)

In [ ]:
t=(437675)

In [ ]:
type(t)

In [ ]:
t="afzal"

In [ ]:
type(t)

In [ ]:
for var in t:
    print(var)

In [ ]:
t=("afzal",)

In [ ]:
for var in t:
    print(var)

In [ ]:
t=(1111)
print(type(t))
t=("afzal")
print(type(t))
t=([1,2,3])
print(type(t))

In [ ]:
for var in t:
    print(var)

In [ ]:
t=([1,2,3],)

In [ ]:
for var in t:
    print(var)

In [109]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
l=[var for var in range(10)]

In [111]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
l=list(range(10))

In [113]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [121]:
k=str(l)

In [122]:
k

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]'

In [126]:
print(list(k))

['[', '0', ',', ' ', '1', ',', ' ', '2', ',', ' ', '3', ',', ' ', '4', ',', ' ', '5', ',', ' ', '6', ',', ' ', '7', ',', ' ', '8', ',', ' ', '9', ']']

In [127]:
t=(1,2,3,4)

In [128]:
list(t)

[1, 2, 3, 4]

In [129]:
l=[1,2,3]

In [130]:
tuple(l)

(1, 2, 3)

In [131]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [132]:
t=("sana","pooja","aFzal")

In [133]:
t.index("sana")

0

In [137]:
t=("sana","pooja","afzal","afzal")

In [138]:
t.count("afzal")

2

In [139]:
t.count("sana")

1

In [140]:
a=1,2,3,"sama"

In [141]:
a

(1, 2, 3, 'sama')

In [142]:
a=1,

In [143]:
a

(1,)

In [144]:
a=1

In [145]:
a

1

In [146]:
a=4
b=9
a,b=b,a

In [147]:
a

9

In [148]:
b

4

In [149]:
a,b=1,2

In [150]:
a

1

In [151]:
b

2

In [152]:
a,b=1,2,3

ValueError: too many values to unpack (expected 2)

In [153]:
a,b,c=1,2,3

In [155]:
a

1

In [156]:
b

2

In [157]:
c

3

In [158]:
s1={1,2,3}

In [159]:
s2={1,2}

In [160]:
s1.union(s2)

{1, 2, 3}

In [161]:
s1.intersection(s2)

{1, 2}

In [162]:
s1.difference(s2)

{3}

In [163]:
s1.issubset(s2)

False

In [164]:
s1.issuperset(s2)

True

In [166]:
k=frozenset([1,1,2,3])

In [167]:
k

frozenset({1, 2, 3})