In [7]:
string="afzal nitesh sachin afzal nehal ajay alice sana sakshi sana sachin"
data = string.split()
print(data)
unique = set(data)
print(data1)

['afzal', 'nitesh', 'sachin', 'afzal', 'nehal', 'ajay', 'alice', 'sana', 'sakshi', 'sana', 'sachin']
{'sachin', 'afzal', 'alice', 'ajay', 'nitesh', 'nehal', 'sana', 'sakshi'}

In [14]:
counter=0
lis=[]
for var in unique:
    for var2 in data:
        if var==var2:
            if var2 in lis:
                pass
            else:
                lis.append(var2)
                print(var)
                print(data.count(var))

sachin
2
afzal
2
alice
1
ajay
1
nitesh
1
nehal
1
sana
2
sakshi
1

In [ ]:
string="""nehal=10
afzal=20
nitesh=30
sana=10"""



#outupt
"""
{nehal:10,afzal:10,nitesh:30,sana:10}"""

In [16]:
string="""nehal=10
afzal=20
nitesh=30
sana=10"""
print(string)

nehal=10
afzal=20
nitesh=30
sana=10

In [17]:
data = string.split('\n')

In [18]:
data

['nehal=10', 'afzal=20', 'nitesh=30', 'sana=10']

In [20]:
d = []
for var in data:
    var = var.split('=')
    d.append(var)

In [21]:
d

[['nehal', '10'], ['afzal', '20'], ['nitesh', '30'], ['sana', '10']]

In [22]:
name=[]
marks = []
for var1 in d:
    for var2 in var1:
        if var2.isalpha():
            name.append(var2)
        else:
            marks.append(var2)

In [23]:
name

['nehal', 'afzal', 'nitesh', 'sana']

In [24]:
marks

['10', '20', '30', '10']

In [25]:
marks = list(map(int,marks))

In [26]:
marks

[10, 20, 30, 10]

In [27]:
dict(zip(name,marks))

{'nehal': 10, 'afzal': 20, 'nitesh': 30, 'sana': 10}

In [28]:
d

[['nehal', '10'], ['afzal', '20'], ['nitesh', '30'], ['sana', '10']]

In [29]:
di={}
for var,var2 in d:
    di.setdefault(var,var2)

In [31]:
di

{'nehal': '10', 'afzal': '20', 'nitesh': '30', 'sana': '10'}

In [32]:
a = 10
b = 30
a,b = b,a

In [33]:
print(a,b)

30 10

In [34]:
#arrange names in alphabatical order
names="""nehal sakshi afzal bunty nitesh cuckoo sachin ajay alice bob jhon smith"""
n = names.split()
n.sort()
print(n)

['afzal', 'ajay', 'alice', 'bob', 'bunty', 'cuckoo', 'jhon', 'nehal', 'nitesh', 'sachin', 'sakshi', 'smith']

In [1]:
#find second largest and the largest element in an array.
user_input_length=int(input("Entre the length of your array : "))
empty_list=[]
for var_1 in range(user_input_length):
    user_input=int(input("Enter your number :"))
    empty_list.append(user_input)
number_list=empty_list
First=number_list[0]
Second=number_list[0]
for var in range(1,user_input_length):
    if number_list[var]>First:
        Second=First
        First=number_list[var]
    elif number_list[var]>Second and number_list[var]!=First:
        Second=number_list[var]
    else:
        pass
print(f"The largest element in the array is {First}")
print(f"The Second largest element in the array is {Second}")

Entre the length of your array : 5
Enter your number :63
Enter your number :98
Enter your number :65
Enter your number :25
Enter your number :14
The largest element in the array is 98
The Second largest element in the array is 65