spam[int(int('3' * 2) // 11)]

In [8]:
spam=[2,3,6,8,10]
"3"*2

'33'

In [2]:
"3"+2

TypeError: must be str, not int

In [3]:
"3"+"2"

'32'

In [4]:
int("33")

33

In [5]:
33//11

3

In [6]:
int(3)

3

In [9]:
spam[3]

8

In [11]:
tup=("Python","Alice")

In [12]:
print(tup)

('Python', 'Alice')

In [13]:
print(type(tup))

<class 'tuple'>

In [14]:
tup=("Python","Alice",12,1,3,1.2,[1,2,3],3j)

In [15]:
print(tup)

('Python', 'Alice', 12, 1, 3, 1.2, [1, 2, 3], 3j)

In [16]:
print(type(tup))

<class 'tuple'>

In [22]:
tup=("Python")

In [23]:
print(type(tup))
print(tup)

<class 'str'>
Python

In [19]:
l=[1]

In [20]:
print(l)

[1]

In [21]:
print(type(l))

<class 'list'>

In [24]:
tup=(1)

In [26]:
print(tup)

1

In [27]:
print(type(tup))

<class 'int'>

In [28]:
tup=("Python",)

In [29]:
print(tup)

('Python',)

In [30]:
print(type(tup))

<class 'tuple'>

In [31]:
tup=()

In [32]:
print(tup)

()

In [33]:
print(type(tup))

<class 'tuple'>

In [35]:
student=("Alice","Bob","jhon")

In [36]:
print(student)

('Alice', 'Bob', 'jhon')

In [37]:
print(type(student))

<class 'tuple'>

In [38]:
student.append("Smith")

AttributeError: 'tuple' object has no attribute 'append'

In [39]:
print(dir(tup))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [40]:
l=["Python","Java"]

In [41]:
l[1]="Go"

In [42]:
print(l)

['Python', 'Go']

In [43]:
tup=("Python","Java")

In [44]:
tup[1]="GO"

TypeError: 'tuple' object does not support item assignment

In [45]:
string="Python"

In [46]:
string[2]="O"

TypeError: 'str' object does not support item assignment

In [49]:
tup=("string",(1,2,3),[1,2,3])

In [50]:
print(tup)

('string', (1, 2, 3), [1, 2, 3])

In [51]:
l=[1,2,3,[1,2,"P"]]

In [52]:
#":" ,";",",","."

In [54]:
l[3][2]

'P'

In [55]:
tup=("string",(1,2,3),[1,2,3])

In [56]:
tup[1][1]

2

In [57]:
tup[2].append("Python")

In [58]:
print(tup)

('string', (1, 2, 3), [1, 2, 3, 'Python'])

In [59]:
#slicing

In [60]:
import sys

In [61]:
tup=("Pyhton","ALice","Jhon","Bob")

In [62]:
lis=["Pyhton","ALice","Jhon","Bob"]

In [63]:
print(tup)

('Pyhton', 'ALice', 'Jhon', 'Bob')

In [64]:
print(lis)

['Pyhton', 'ALice', 'Jhon', 'Bob']

In [65]:
print(type(lis))
print(type(tup))

<class 'list'>
<class 'tuple'>

In [67]:
sys.getsizeof(tup)

80

In [69]:
sys.getsizeof(lis)

96

In [70]:
tup=("A","B","C")

In [71]:
tup[1]

'B'

In [72]:
tup[1::2]

('B',)

In [73]:
tup=("A","B","C")

In [74]:
print(tup)

('A', 'B', 'C')

In [75]:
del tup

In [76]:
print(tup)

NameError: name 'tup' is not defined

In [77]:
tup=("Afzal","LCH II 20 ward no 8 .....","nationality")

In [78]:
tup2=tup

In [79]:
print(tup)

('Afzal', 'LCH II 20 ward no 8 .....', 'nationality')

In [80]:
print(tup2)

('Afzal', 'LCH II 20 ward no 8 .....', 'nationality')

In [81]:
print(id(tup))

2449365959808

In [82]:
print(id(tup2))

2449365959808

In [92]:
from copy import deepcopy

In [93]:
tup2=deepcopy(tup)

In [94]:
print(tup)

('Afzal', 'LCH II 20 ward no 8 .....', 'nationality')

In [95]:
print(tup2)

('Afzal', 'LCH II 20 ward no 8 .....', 'nationality')

In [96]:
print(id(tup))

2449365959808

In [97]:
print(id(tup2))

2449365959808

In [98]:
print(dir(tup))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [100]:
tup=("Afzal","Sachin","Sudharshan","Afzal")

In [101]:
tup.count("Afzal")

2

In [102]:
tup.count("Sachin")

1

In [103]:
tup.index("Afzal")

0

In [104]:
tup.index("Afzal",1)

3

In [105]:
l1=[1,2,3]
l2=[4,5,6]

In [106]:
l1+l2

[1, 2, 3, 4, 5, 6]

In [108]:
l1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [109]:
tup=("python","java","Kotlin")

In [110]:
tup2=("Html","Javascript","Css")

In [111]:
tup+tup2

('python', 'java', 'Kotlin', 'Html', 'Javascript', 'Css')

In [113]:
tup3=tup*3

In [114]:
print(tup3)

('python', 'java', 'Kotlin', 'python', 'java', 'Kotlin', 'python', 'java', 'Kotlin')

In [115]:
for var in tup3:
    print(var)

python
java
Kotlin
python
java
Kotlin
python
java
Kotlin

In [116]:
tup=(1,2,3,(4,5,6,(7,8,9)))

In [117]:
print(tup)

(1, 2, 3, (4, 5, 6, (7, 8, 9)))

In [119]:
tup[3][3][1]

8