In [1]:
import random

In [2]:
lis=[1,2,3,4,5,6,7]

In [5]:
random.choice(lis)

4

In [6]:
random.randint(1,50)

43

In [10]:
random.randint(1,10)

7

In [16]:
random.random()

0.478112707488228

In [17]:
#range(start,End,step)

In [19]:
var=range(1,10)

In [20]:
print(var)

range(1, 10)

In [21]:
print(type(var))

<class 'range'>

In [23]:
var2=list(var)

In [24]:
print(var2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
range(10)

range(0, 10)

In [26]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
for var in range(10):
    print(var)

0
1
2
3
4
5
6
7
8
9

In [28]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [29]:
"""
0+2=2
2+2=4
4+2=6
.....
.....
....."""

'\n0+2=2\n2+2=4\n4+2=6\n.....\n.....\n.....'

In [30]:
#print all numbers between 1-100 which is divisible by 5 and 11

In [1]:
counter=1
while counter<=100:
    if counter%5==0 and counter%11==0:
        print(counter)
        counter+=1
    else:
        counter+=1

55

In [2]:
#Print all the numbers between 456-789 which divisble by 5 and 7

In [8]:
counter=456
while counter<=789:
    if counter%5==0 and counter%7==0:
        print(counter)
        counter=counter+1
    else:
        counter=counter+1

490
525
560
595
630
665
700
735
770

In [9]:
#print 10 random number
from random import randint
c=1
while c<=10:
    print(randint(1,100))
    c=c+1

86
34
15
44
79
2
54
100
70
25

In [11]:
#write a code which loop from 1 to 10 but finish at 5
c=1
while c<=10:
    if c==5:
        break
    else:
        print(c)
        c=c+1

1
2
3
4

In [12]:
#ask user for input between 1-50
#if user give input greater than 50 then we have to break the loop
#if user give input between 1-50 range then ask for input again
while True:
    integer=int(input("Enter number : "))
    if integer>50:
        break
    else:
        continue

Enter number : 12
Enter number : 14
Enter number : 16
Enter number : 34
Enter number : 75

In [13]:
"""
we are gonna create a guess game::::----
1. Every player has 5 chance to predict computer guess number
2. The already guessed number is predicted by computer
3. if guess is right then we have to print wow you guess the number
you won the match
4.if user does not guess the number then we print you loose , printthe 
computer guessed number
5.the range of guessed number is 1-50
6.if user guess number less than guessed one then we will give him hint like
think big anf if he guess number less greater than guessed one then
we will give hint that think low"""

'\nwe are gonna create a guess game::::----\n1. Every player has 5 chance to predict computer guess number\n2. The already guessed number is predicted by computer\n3. if guess is right then we have to print wow you guess the number\nyou won the match\n4.if user does not guess the number then we print you loose , printthe \ncomputer guessed number\n5.the range of guessed number is 1-50\n6.if user guess number less than guessed one then we will give him hint like\nthink big anf if he guess number less greater than guessed one then\nwe will give hint that think low'

In [16]:
from random import randint
computer_guess=randint(1,50)
life=1
while life<=5:
    user_guess=int(input("Enter the number : "))
    if user_guess<1 or user_guess>50:
        print("warning ! guess numnber should be in range of 1-50")
        continue
    if user_guess>computer_guess:
        print("Hint : Be in limits Think lower")
    elif user_guess<computer_guess:
        print("Hint : Be Big think big")
    else:
        print("whole !! YOu have won the game")
        break
    life=life+1
else:
    print("Computer guess number was :  ",computer_guess)
    print("Hey !! Listen !! yOu such a looser")

Enter the number : 40
Hint : Be in limits Think lower
Enter the number : 30
Hint : Be in limits Think lower
Enter the number : 20
Hint : Be in limits Think lower
Enter the number : 10
Hint : Be Big think big
Enter the number : 15
Hint : Be Big think big
Computer guess number was :   16
Hey !! Listen !! yOu such a looser

#  For loop

In [17]:
#for loop is used for iteration
"""
Number --NO
string --Yes
list ----Yes
tuple----Yes
set and frozen set------Yes
dictionary--Yes but only keys will be iter"""
"""
syntax ::--
for variable_name in sequence/iterable :
        statements-1
        statements-2
        ..........
        .........
        .........n"""

'\nsyntax ::--\nfor variable_name in sequence/iterable :\n        statements-1\n        statements-2\n        ..........\n        .........\n        .........n'

In [18]:
for var in "Python":
    print(var)

P
y
t
h
o
n

In [19]:
lis=[1,2,3]

In [20]:
for var in lis:
    print(var)

1
2
3

In [21]:
tup=(1,2,3)

In [22]:
for var in tup:
    print(var)

1
2
3

In [23]:
se={1,2,3}

In [24]:
for var in se:
    print(var)

1
2
3

In [25]:
number=123
for var in number:
    print(var)

TypeError: 'int' object is not iterable

In [27]:
d={
    "virat":100,
    "Sachin":10000,
    "Dhoni":10000000
}

In [28]:
for var in d:
    print(var)

virat
Sachin
Dhoni

In [30]:
a=d.items()

In [31]:
print(a)

dict_items([('virat', 100), ('Sachin', 10000), ('Dhoni', 10000000)])

In [32]:
for var in a:
    print(var)

('virat', 100)
('Sachin', 10000)
('Dhoni', 10000000)

In [33]:
a=1,2

In [34]:
a=1

In [35]:
a

1

In [36]:
a=1,2

In [37]:
a

(1, 2)

In [38]:
a,b=1,2

In [39]:
a

1

In [40]:
b

2

In [41]:
a,b,c=1,2#"""a=1 ,b=2,c="""

ValueError: not enough values to unpack (expected 3, got 2)

In [42]:
c=

SyntaxError: invalid syntax (<ipython-input-42-c3f392e7d3d6>, line 1)

In [43]:
a,b=1,2,3

ValueError: too many values to unpack (expected 2)

In [44]:
print("python")

python

In [48]:
print(*"Python",sep="\n")#print("p","y","T","h","o","n")

P
y
t
h
o
n

In [49]:
a,*b=1,2,4

In [50]:
a

1

In [51]:
b

[2, 4]

In [52]:
d={
    "virat":100,
    "Sachin":10000,
    "Dhoni":10000000
}

In [53]:
for var in d:
    print(var)

virat
Sachin
Dhoni

In [54]:
a,b=(1,2)

In [55]:
a

1

In [56]:
b

2

In [57]:
for var in d.items():
    key,value=var#(key,value)
    print(key)
    print(value)

virat
100
Sachin
10000
Dhoni
10000000

In [58]:
for key,value in d.items():
    print(key,value)

virat 100
Sachin 10000
Dhoni 10000000

In [59]:
lis=["string",123,[1,2,3],(1,2,3),{1,2,3,4,5,6},{"KEy":"Value"}]

In [60]:
for var in lis:
    print(var)

string
123
[1, 2, 3]
(1, 2, 3)
{1, 2, 3, 4, 5, 6}
{'KEy': 'Value'}

In [61]:
for var in lis:
    if type(var)==int:
        print("This item is not iterable")
    elif type(var)==dict:
            for var_2,var_3 in var.items():
                print(var_2,var_3)
    else:
        for var_2 in var:
            print(var_2)

s
t
r
i
n
g
This item is not iterable
1
2
3
1
2
3
1
2
3
4
5
6
KEy Value

In [62]:
for var in range(3):
    for var_2 in range(3):
        print("*")

*
*
*
*
*
*
*
*
*

In [72]:
student=["Alice","Bob","Jhon","Smith"]

In [73]:
counter=0
for var in student:
    if var=="Jhon":
        student.pop(counter)
        break
    else:
        counter+=1

In [74]:
student

['Alice', 'Bob', 'Smith']

In [84]:
student=["Alice","bob","Jhon","Smith"]
for var in student:
    print(var)
    if var=="Jhon":
        continue
    else:
        student.remove(var)

Alice
Jhon
Smith

In [85]:
print(student)

['bob', 'Jhon']

In [86]:
student=["Alice","Bob","Jhon","Smith"]
counter=0
for var in student:
    if var=="Jhon":
        student.pop(counter)
        break
    else:
        counter+=1
else:
    print("Jhon successfully deleted")

In [87]:
student

['Alice', 'Bob', 'Smith']

In [88]:
for var in student:
    pass
else:
    print("Successfully executed")

Successfully executed