In [1]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [2]:
string="Python"

In [3]:
string.endswith("n")

True

In [4]:
string.endswith("thon")

True

In [5]:
string.endswith("thon ")

False

In [6]:
string.endswith("n",4)#shift+tab

True

In [7]:
string.endswith("n",5)#shift+tab

True

In [8]:
string.endswith("n",1,4)#shift+tab

False

In [9]:
string.endswith("o",1,4)#shift+tab

False

In [10]:
string.endswith("o",1,5)#shift+tab

True

* Numbers

In [11]:
a=1

In [13]:
print(a)

1

In [14]:
print(type(a))

<class 'int'>

In [15]:
print(dir(a))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [17]:
print(a.__sizeof__())

28

In [18]:
a=4684646584866546848949

In [19]:
print(a.__sizeof__())

36

In [20]:
1024/60

17.066666666666666

In [21]:
2**32

4294967296

In [22]:
4294967296/1024

4194304.0

In [23]:
4194304/1024

4096.0

In [24]:
2**64

18446744073709551616

In [25]:
a=1.2

In [26]:
print(a)

1.2

In [27]:
print(type(a))

<class 'float'>

In [28]:
round(1.8)

2

In [29]:
round(2.3)

2

In [30]:
from math import ceil

In [31]:
ceil(1.1)

2

In [32]:
ceil(1.9)

2

In [33]:
from math import floor

In [35]:
floor(1.9)

1

In [36]:
floor(1.2)

1

In [37]:
a=3j

In [38]:
print(a)

3j

In [39]:
print(type(a))

<class 'complex'>

In [40]:
a=3i

SyntaxError: invalid syntax (<ipython-input-40-2a3d6bf74f40>, line 1)

In [42]:
a

3j

In [43]:
a**2

(-9+0j)

In [45]:
a=2

In [46]:
b=3

In [47]:
a+b

5

In [48]:
bin(a)

'0b10'

In [49]:
b=bin(a)

In [50]:
print(b)

0b10

In [51]:
print(type(b))

<class 'str'>

In [52]:
int(b)

ValueError: invalid literal for int() with base 10: '0b10'

In [53]:
int("279829")

279829

In [54]:
int(b,base=2)

2

In [55]:
a

2

In [56]:
hex(a)

'0x2'

In [57]:
oct(a)

'0o2'

In [58]:
b=oct(a)

In [59]:
b

'0o2'

In [60]:
int(b,base=8)

2

In [61]:
lis=[1,2,3]

In [62]:
print(lis)

[1, 2, 3]

In [64]:
print(type(lis))

<class 'list'>

In [65]:
lis=["A",1,(1,2),{12,22},{"Key":"value"},1.2,2j]

In [66]:
for var in lis:
    print(type(var))

<class 'str'>
<class 'int'>
<class 'tuple'>
<class 'set'>
<class 'dict'>
<class 'float'>
<class 'complex'>

In [67]:
lis=[1,2,3]

In [68]:
for var in lis:
    print(type(var))

<class 'int'>
<class 'int'>
<class 'int'>

In [69]:
student=["Sakshi","vinay","Alice","BOb","Jhon"]

In [70]:
student[0]

'Sakshi'

In [71]:
student[1]

'vinay'

In [72]:
student[1::2]

['vinay', 'BOb']

In [74]:
for var in student:
    print(var)

Sakshi
vinay
Alice
BOb
Jhon

In [75]:
file=open('student.txt')

In [76]:
data=file.read()

In [78]:
print(data)

Alice
bob
jhon
smith
sakshi
sudha
komal
nehal
sana
prabodh
piyush
nitesh
vinay

In [79]:
print(type(data))

<class 'str'>

In [80]:
len(data)

79

In [81]:
data=data.split("\n")

In [82]:
print(data)

['Alice', 'bob', 'jhon', 'smith', 'sakshi', 'sudha', 'komal', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay', '']

In [83]:
len(data)

14

In [84]:
import time

In [86]:
t=time.ctime()

In [87]:
print(type(t))

<class 'str'>

In [89]:
student_data=[]
for var in data:
    var2=var+t
    student_data.append(var2)

In [92]:
student_data
student_data="\n".join(student_data)

In [91]:
file.close()

In [93]:
print(student_data)

AliceWed Jan 15 12:58:52 2020
bobWed Jan 15 12:58:52 2020
jhonWed Jan 15 12:58:52 2020
smithWed Jan 15 12:58:52 2020
sakshiWed Jan 15 12:58:52 2020
sudhaWed Jan 15 12:58:52 2020
komalWed Jan 15 12:58:52 2020
nehalWed Jan 15 12:58:52 2020
sanaWed Jan 15 12:58:52 2020
prabodhWed Jan 15 12:58:52 2020
piyushWed Jan 15 12:58:52 2020
niteshWed Jan 15 12:58:52 2020
vinayWed Jan 15 12:58:52 2020
Wed Jan 15 12:58:52 2020

In [94]:
file=open("student.txt","w")
file.write(student_data)
file.close()

In [95]:
data

['Alice',
 'bob',
 'jhon',
 'smith',
 'sakshi',
 'sudha',
 'komal',
 'nehal',
 'sana',
 'prabodh',
 'piyush',
 'nitesh',
 'vinay',
 '']

In [96]:
print(type(data))

<class 'list'>

In [97]:
print(dir(data))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [98]:
print(data)

['Alice', 'bob', 'jhon', 'smith', 'sakshi', 'sudha', 'komal', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay', '']

In [99]:
data.pop()

''

In [101]:
print(data)

['Alice', 'bob', 'jhon', 'smith', 'sakshi', 'sudha', 'komal', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay']

In [102]:
data.pop(2)

'jhon'

In [103]:
print(data)

['Alice', 'bob', 'smith', 'sakshi', 'sudha', 'komal', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay']

In [105]:
data.index("sudha")

4

In [106]:
data[4]

'sudha'

In [107]:
data.pop(4)

'sudha'

In [108]:
print(data)

['Alice', 'bob', 'smith', 'sakshi', 'komal', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay']

In [109]:
data.remove("komal")

In [110]:
data

['Alice',
 'bob',
 'smith',
 'sakshi',
 'nehal',
 'sana',
 'prabodh',
 'piyush',
 'nitesh',
 'vinay']

In [111]:
data.append("komal")

In [112]:
print(data)

['Alice', 'bob', 'smith', 'sakshi', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay', 'komal']

In [113]:
sakshi=["Alice","Bob","Jhon"]

In [114]:
data.append(sakshi)

In [115]:
print(data)

['Alice', 'bob', 'smith', 'sakshi', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay', 'komal', ['Alice', 'Bob', 'Jhon']]

In [116]:
data[-1]

['Alice', 'Bob', 'Jhon']

In [117]:
data[-2]

'komal'

In [118]:
data.extend(sakshi)

In [119]:
print(data)

['Alice', 'bob', 'smith', 'sakshi', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay', 'komal', ['Alice', 'Bob', 'Jhon'], 'Alice', 'Bob', 'Jhon']

In [120]:
print(data)
for var in sakshi:
    data.append(var)
print(var)

['Alice', 'bob', 'smith', 'sakshi', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay', 'komal', ['Alice', 'Bob', 'Jhon'], 'Alice', 'Bob', 'Jhon']
Jhon

In [121]:
print(data)

['Alice', 'bob', 'smith', 'sakshi', 'nehal', 'sana', 'prabodh', 'piyush', 'nitesh', 'vinay', 'komal', ['Alice', 'Bob', 'Jhon'], 'Alice', 'Bob', 'Jhon', 'Alice', 'Bob', 'Jhon']

In [123]:
data_2=[]

In [124]:
data_2.append("Java")

In [125]:
print(data_2)

['Java']

In [126]:
data_2.extend("Python")
print(data_2)

['Java', 'P', 'y', 't', 'h', 'o', 'n']