In [9]:
a="p"
"""
syntax ::---
def fucntion_name(arguments):#title case
    statements-1
    statements-2
    ------------
    -----------
    return """

'\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return '

In [6]:
def even(number):#formal parameter
    print(id(number))
    if number%2==0:
        return True
    else:
        return False

In [7]:
even(12)#Actual parameter

1925475744

True

In [8]:
a=1
print(id(a))
even(a)

1925475392
1925475392

False

In [10]:
a

'p'

In [11]:
vars()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  '"""\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return """',
  'def even(number):\n    if number%2==0:\n        return True\n    else:\n        return False',
  'even(12)#Actual parameter',
  'a=1\neven(a)',
  'a=1\nprint(id(a))\neven(a)',
  'def even(number):\n    print(id(number))#formal parameter\n    if number%2==0:\n        return True\n    else:\n        return False',
  'even(12)#Actual parameter',
  'a=1\nprint(id(a))\neven(a)',
  'a="p"\n"""\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return """',
  'a',
  'vars()'],
 '_oh': {1: '\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return ',
  3: True,
  4: False,
  5: False,
  7: True,
  8: False,
  9: '\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return ',
  10: 'p'},
 '_dh': ['E:\\PYHTON CLASSES\\PYTHON_BATCH_4PM\\New folder (14)'],
 'In': ['',
  '"""\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return """',
  'def even(number):\n    if number%2==0:\n        return True\n    else:\n        return False',
  'even(12)#Actual parameter',
  'a=1\neven(a)',
  'a=1\nprint(id(a))\neven(a)',
  'def even(number):\n    print(id(number))#formal parameter\n    if number%2==0:\n        return True\n    else:\n        return False',
  'even(12)#Actual parameter',
  'a=1\nprint(id(a))\neven(a)',
  'a="p"\n"""\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return """',
  'a',
  'vars()'],
 'Out': {1: '\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return ',
  3: True,
  4: False,
  5: False,
  7: True,
  8: False,
  9: '\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return ',
  10: 'p'},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x0000016A0C77AD68>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x16a0c7e7208>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x16a0c7e7208>,
 '_': 'p',
 '__': '\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return ',
 '___': False,
 '_i': 'a',
 '_ii': 'a="p"\n"""\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return """',
 '_iii': 'a=1\nprint(id(a))\neven(a)',
 '_i1': '"""\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return """',
 '_1': '\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return ',
 '_i2': 'def even(number):\n    if number%2==0:\n        return True\n    else:\n        return False',
 'even': <function __main__.even(number)>,
 '_i3': 'even(12)#Actual parameter',
 '_3': True,
 '_i4': 'a=1\neven(a)',
 'a': 'p',
 '_4': False,
 '_i5': 'a=1\nprint(id(a))\neven(a)',
 '_5': False,
 '_i6': 'def even(number):\n    print(id(number))#formal parameter\n    if number%2==0:\n        return True\n    else:\n        return False',
 '_i7': 'even(12)#Actual parameter',
 '_7': True,
 '_i8': 'a=1\nprint(id(a))\neven(a)',
 '_8': False,
 '_i9': 'a="p"\n"""\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return """',
 '_9': '\nsyntax ::---\ndef fucntion_name(arguments):#title case\n    statements-1\n    statements-2\n    ------------\n    -----------\n    return ',
 '_i10': 'a',
 '_10': 'p',
 '_i11': 'vars()'}

In [12]:
def even(number):#formal parameter
    print(id(number))
    print(vars())
    if number%2==0:
        return True
    else:
        return False

In [13]:
even(10)

1925475680
{'number': 10}

True

In [14]:
name=["a"]
sid=["1"]

In [16]:
dict(zip(name,sid))

{'a': '1'}

In [19]:
d={}
for var,var2 in zip(name,sid):
    d.setdefault(var,var2)

In [20]:
d

{'a': '1'}

In [21]:
"""
1.user define transformation function
2.user define aggregation function
3.user define function"""

'\n1.user define transformation function\n2.user define aggregation function\n3.user define function'

In [22]:
lis=[1,2,3,4,5]

In [24]:
sorted(lis,reverse=True)

[5, 4, 3, 2, 1]

In [25]:
#define a fucntion which return square value of input data

In [26]:
lis

[1, 2, 3, 4, 5]

In [27]:
def sqr(*args):
    l=[]
    for var in args:
        l.append(var**2)
    return l

In [28]:
sqr(*lis)

[1, 4, 9, 16, 25]

In [29]:
sum(lis)

15

In [30]:
def sqr(*args):
    l=0
    for var in args:
        l+=var
    return l

In [31]:
sqr(*lis)#sqr(1, 2, 3, 4, 5)

15

In [32]:
"""
user define function::::------
1.without argument and without return type
2.with argument and without retrun type
3.without argument and with return type
4.with argument with return type"""

'\nuser define function::::------\n1.without argument and without return type\n2.with argument and without retrun type\n3.without argument and with return type\n4.with argument with return type'

In [33]:
"""
without argumnent and return type"""

'\nwithout argumnent and return type'

In [34]:
name=input("Enter your name : ")
print(name)

Enter your name : afaal
afaal

In [35]:
def greet():
    name=input("Enter your name : ")
    print(name)

In [36]:
greet()

Enter your name : afzal
afzal

In [37]:
"""
with arg without return"""

'\nwith arg without return'

In [47]:
def gr(name):
    print(id(name))
    print("Hello",name)
    name=name[::-1]
    print("Hello reverse",name)

In [48]:
a="Nehal"
print(id(a))

1554989354096

In [49]:
gr(a)

1554989354096
Hello Nehal
Hello reverse laheN

In [57]:
def gr(name):
    print(id(name))
    print("Hello",name)
    name.append("hi")
    print(name)

In [58]:
a=[1,2,3]

In [59]:
gr(a)

1554989366344
Hello [1, 2, 3]
[1, 2, 3, 'hi']

In [54]:
p=[1,2,3]
q=p.append("hi")

In [55]:
p

[1, 2, 3, 'hi']

In [56]:
q

In [60]:
a

[1, 2, 3, 'hi']

In [61]:
"""
without argument and with return type"""

'\nwithout argument and with return type'

In [62]:
name="Nehal"

In [64]:
a=name.upper()

In [65]:
a

'NEHAL'

In [66]:
def revr(name):
    return name[::-1]

In [67]:
name

'Nehal'

In [69]:
a=revr(name)

In [70]:
a

'laheN'

In [71]:
name

'Nehal'

In [72]:
def revr():
    return name[::-1]

In [73]:
revr()

'laheN'

In [74]:
"""
with argument and with return type"""

'\nwith argument and with return type'

In [77]:
def revr(name):
    return name[::-1].upper()

In [78]:
revr(name)

'LAHEN'

In [79]:
#write a fucntion which take name and age as a parameter
#and return name like i.e you can vote *name* if age is greater than and equal to 18
#otherwise return you can note vote *name*

In [89]:
def vote(name,age):
    if age>=18:
        return f"you can vote {name}"
    else:
        return f"you can not vote {name}"

In [81]:
vote("AFzal",99)

'you can vote AFzal'

In [82]:
vote("Afzal",17)

'you can not vote Afzal'

In [92]:
name=["NEhal",23,"sachin",26,"rajat",35,"afzal",16]

In [93]:
name_=[]
age=[]
for var in name:
    var=str(var)
    if var.isalpha():
        name_.append(var)
    else:
        age.append(var)
age=list(map(int,age))
for var1,var2 in zip(name_,age):
    a=vote(var1,var2)
    print(a)

you can vote NEhal
you can vote sachin
you can vote rajat
you can not vote afzal

In [94]:
details={"name":"AFzal",
        "balance":100,
        "password":"12345",
        "id":1001}

In [ ]:
"""
def login(id,pass)"""