In [1]:
"""
syntax::---
{key : value}"""

'\nsyntax::---\n{key : value}'

In [2]:
"""
1. key must be immuatable .
2. key must be unique.
3. value can be anything
4. we can create nested dictionary
5. dictionary mutable
6. unordered but we can access dictionary data with the help of their key
7. iterable (only key will be iterate.)"""

'\n1. key must be immuatable .\n2. key must be unique.\n3. value can be anything\n4. we can create nested dictionary'

In [4]:
student={1001:"sana",
        1002:"Sakshi",
        1003:"Nitesh"}

In [5]:
print(student)

{1001: 'sana', 1002: 'Sakshi', 1003: 'Nitesh'}

In [7]:
print(type(student))

<class 'dict'>

In [8]:
d={}

In [9]:
print(type(d))

<class 'dict'>

In [10]:
d=set()

In [11]:
print(d)

set()

In [12]:
print(type(d))

<class 'set'>

In [13]:
d.add("hi")

In [14]:
d

{'hi'}

In [15]:
d={}

In [16]:
d

{}

In [18]:
d.add("hi")

AttributeError: 'dict' object has no attribute 'add'

In [19]:
student

{1001: 'sana', 1002: 'Sakshi', 1003: 'Nitesh'}

In [20]:
student[1]#dictionary does not support indexing.

KeyError: 1

In [21]:
student[1002]

'Sakshi'

In [23]:
lis=[1,2,3,[1,2,2,[1,2,2,[1,2,2,2,["Hi Afzal",2,2,("Hi")]]]]]

In [30]:
lis[3][3][3][4][0][2::]

' Afzal'

In [32]:
student={
    1001:{"name":"Sakshi",
         "college":"balaji",
         "address":"kota"},
    1002:{"name":"sana",
         "college":"MRSC",
         "address":"Indore"},
    1003:{"name":"AFzal",
         "college":"Arya",
         "address":"Jaipur"}
}

In [34]:
student[1001]

{'name': 'Sakshi', 'college': 'balaji', 'address': 'kota'}

In [35]:
student[1001]["name"]

'Sakshi'

In [36]:
lis=[1]

In [37]:
import sys

In [38]:
sys.getsizeof(lis)

72

In [39]:
d={"Key":"Value"}

In [40]:
sys.getsizeof(d)

240

In [41]:
student

{1001: {'name': 'Sakshi', 'college': 'balaji', 'address': 'kota'},
 1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur'}}

In [42]:
print(dir(student))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [43]:
a=2

In [44]:
a

2

In [45]:
del a

In [46]:
a

NameError: name 'a' is not defined

In [47]:
a=[]

In [48]:
a

[]

In [49]:
del a

In [50]:
a

NameError: name 'a' is not defined

In [51]:
student

{1001: {'name': 'Sakshi', 'college': 'balaji', 'address': 'kota'},
 1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur'}}

In [52]:
del student[1001]["college"]

In [53]:
student

{1001: {'name': 'Sakshi', 'address': 'kota'},
 1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur'}}

In [54]:
del student[1001]

In [57]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur'}}

In [58]:
lis=[]

In [59]:
lis[0]

IndexError: list index out of range

In [60]:
lis[0]="Python"

IndexError: list assignment index out of range

In [61]:
lis=[1]

In [63]:
lis[0]="python"

In [64]:
lis

['python']

In [65]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur'}}

In [66]:
student[1001]

KeyError: 1001

In [67]:
student[1001]="Sakshi"

In [68]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur'},
 1001: 'Sakshi'}

In [69]:
student[1004]="Nitesh"

In [70]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur'},
 1001: 'Sakshi',
 1004: 'Nitesh'}

In [71]:
student[1001]="prabodh"

In [72]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur'},
 1001: 'prabodh',
 1004: 'Nitesh'}

In [73]:
student[1003]["address"]="indore"

In [74]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'indore'},
 1001: 'prabodh',
 1004: 'Nitesh'}

In [75]:
d={"name":"sakshi",
  "college":"balaji",
  "address":"kota"}

In [76]:
d

{'name': 'sakshi', 'college': 'balaji', 'address': 'kota'}

In [77]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'indore'},
 1001: 'prabodh',
 1004: 'Nitesh'}

In [78]:
student[1001]=d

In [79]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'indore'},
 1001: {'name': 'sakshi', 'college': 'balaji', 'address': 'kota'},
 1004: 'Nitesh'}

In [80]:
student[1001]

{'name': 'sakshi', 'college': 'balaji', 'address': 'kota'}

In [81]:
student[1005]

KeyError: 1005

In [82]:
student.get(1001)

{'name': 'sakshi', 'college': 'balaji', 'address': 'kota'}

In [83]:
student.get(1005)

In [84]:
s=student.get(1001)

In [85]:
s

{'name': 'sakshi', 'college': 'balaji', 'address': 'kota'}

In [86]:
s=student.get(1005)

In [87]:
s

In [89]:
print(s)

None

In [90]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'indore'},
 1001: {'name': 'sakshi', 'college': 'balaji', 'address': 'kota'},
 1004: 'Nitesh'}

In [92]:
student

{1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore'},
 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'indore'},
 1001: {'name': 'sakshi', 'college': 'balaji', 'address': 'kota'},
 1004: 'Nitesh'}

In [97]:
student={
    1001:{"name":"Sakshi",
         "college":"balaji",
         "address":"kota",
         "password":123},
    1002:{"name":"sana",
         "college":"MRSC",
         "address":"Indore",
         "password":123},
    1003:{"name":"AFzal",
         "college":"Arya",
         "address":"Jaipur",
         "password":123}
}
userid=int(input("Enter your ID : "))
if student[userid]:
    passw=int(input("Enter password please !"))
    if passw==student[userid]["password"]:
        print(student[userid])
    else:
        print("Password is incorrect")
else:
    print("Invalid Id")

Enter your ID : 1006

KeyError: 1006

In [98]:
student={
    1001:{"name":"Sakshi",
         "college":"balaji",
         "address":"kota",
         "password":123},
    1002:{"name":"sana",
         "college":"MRSC",
         "address":"Indore",
         "password":123},
    1003:{"name":"AFzal",
         "college":"Arya",
         "address":"Jaipur",
         "password":123}
}
userid=int(input("Enter your ID : "))
if student.get(userid):
    passw=int(input("Enter password please !"))
    if passw==student[userid]["password"]:
        print(student[userid])
    else:
        print("Password is incorrect")
else:
    print("Invalid Id")

Enter your ID : 1006
Invalid Id

In [99]:
student

{1001: {'name': 'Sakshi',
  'college': 'balaji',
  'address': 'kota',
  'password': 123},
 1002: {'name': 'sana',
  'college': 'MRSC',
  'address': 'Indore',
  'password': 123},
 1003: {'name': 'AFzal',
  'college': 'Arya',
  'address': 'Jaipur',
  'password': 123}}

In [100]:
print(student)

{1001: {'name': 'Sakshi', 'college': 'balaji', 'address': 'kota', 'password': 123}, 1002: {'name': 'sana', 'college': 'MRSC', 'address': 'Indore', 'password': 123}, 1003: {'name': 'AFzal', 'college': 'Arya', 'address': 'Jaipur', 'password': 123}}

In [102]:
from pprint import pprint

In [103]:
pprint(student)

{1001: {'address': 'kota',
        'college': 'balaji',
        'name': 'Sakshi',
        'password': 123},
 1002: {'address': 'Indore',
        'college': 'MRSC',
        'name': 'sana',
        'password': 123},
 1003: {'address': 'Jaipur',
        'college': 'Arya',
        'name': 'AFzal',
        'password': 123}}

In [108]:
student[1001]["college"][3]

'a'

In [111]:
student.get(1001).get("college")

'balaji'