In [1]:
list_1=[1,2,3,4,5,6,7,8,9,10]

In [2]:
print(list_1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#for variable(i.e. can be anything) in(operator) iterable:
    #statements-1
    #.....
    #....
    #.
    #.

In [5]:
for var in ["Python"]:
    print(var)

Python

In [6]:
for var in "Pyhton":
    print(var)

P
y
h
t
o
n

In [7]:
l=[var for var in range(10)]

In [8]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
l=[var for var2 in range(10)]

In [12]:
l

['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n']

In [14]:
vars()

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  'list_1=[1,2,3,4,5,6,7,8,9,10]',
  'print(list_1)',
  '#for variable(i.e. can be anything) in(operator) iterable:\n    #statements-1\n    #.....\n    #....\n    #.\n    #.',
  'for var in ["Python"]:\n    print(avr)',
  'for var in ["Python"]:\n    print(var)',
  'for var in "Pyhton":\n    print(var)',
  'l=[var for var in range(10)]',
  'l',
  'l=[var for var2 in range(10)]',
  'l',
  'l=[var for var2 in range(10)]',
  'l',
  'vars',
  'vars()'],
 '_oh': {8: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
  10: ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
  12: ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
  13: <function vars>},
 '_dh': ['E:\\PYHTON CLASSES\\PYTHON_BATCH_4PM\\New folder (5)'],
 'In': ['',
  'list_1=[1,2,3,4,5,6,7,8,9,10]',
  'print(list_1)',
  '#for variable(i.e. can be anything) in(operator) iterable:\n    #statements-1\n    #.....\n    #....\n    #.\n    #.',
  'for var in ["Python"]:\n    print(avr)',
  'for var in ["Python"]:\n    print(var)',
  'for var in "Pyhton":\n    print(var)',
  'l=[var for var in range(10)]',
  'l',
  'l=[var for var2 in range(10)]',
  'l',
  'l=[var for var2 in range(10)]',
  'l',
  'vars',
  'vars()'],
 'Out': {8: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
  10: ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
  12: ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
  13: <function vars>},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001C73BDBD438>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1c73be27160>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1c73be27160>,
 '_': <function vars>,
 '__': ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
 '___': ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
 '_i': 'vars',
 '_ii': 'l',
 '_iii': 'l=[var for var2 in range(10)]',
 '_i1': 'list_1=[1,2,3,4,5,6,7,8,9,10]',
 'list_1': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 '_i2': 'print(list_1)',
 '_i3': '#for variable(i.e. can be anything) in(operator) iterable:\n    #statements-1\n    #.....\n    #....\n    #.\n    #.',
 '_i4': 'for var in ["Python"]:\n    print(avr)',
 'var': 'n',
 '_i5': 'for var in ["Python"]:\n    print(var)',
 '_i6': 'for var in "Pyhton":\n    print(var)',
 '_i7': 'l=[var for var in range(10)]',
 'l': ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
 '_i8': 'l',
 '_8': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 '_i9': 'l=[var for var2 in range(10)]',
 '_i10': 'l',
 '_10': ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
 '_i11': 'l=[var for var2 in range(10)]',
 '_i12': 'l',
 '_12': ['n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n', 'n'],
 '_i13': 'vars',
 '_13': <function vars>,
 '_i14': 'vars()'}

In [16]:
l=[a for var in range(10)]

NameError: name 'a' is not defined

In [17]:
l=[var for var in range(10) if var%2==0]

In [18]:
l

[0, 2, 4, 6, 8]

In [19]:
tup=(1,2,3,4)

In [20]:
print(type(tup))

<class 'tuple'>

In [21]:
tup=("AFzal","Sachin","kapil",12,3,3,2,3,322,[1,2,3])

In [22]:
print(tup)

('AFzal', 'Sachin', 'kapil', 12, 3, 3, 2, 3, 322, [1, 2, 3])

In [23]:
print(type(tuple))

<class 'type'>

In [24]:
l=[]

In [25]:
print(type(l))

<class 'list'>

In [26]:
tup=()

In [27]:
print(tup)

()

In [28]:
print(type(tup))

<class 'tuple'>

In [29]:
l=[1]

In [33]:
t=(1)

In [34]:
print(type(l))
print(type(t))

<class 'list'>
<class 'int'>

In [35]:
t=("String")

In [36]:
print(type(t))

<class 'str'>

In [37]:
t=(1,)
t2=("String",)

In [38]:
print(type(t))
print(type(t2))

<class 'tuple'>
<class 'tuple'>

In [39]:
l=[1,2,3]

In [40]:
print(l)

[1, 2, 3]

In [41]:
l.append(4)

In [43]:
print(l)

[1, 2, 3, 4]

In [44]:
print(id(l))

1955216405512

In [45]:
t=(1,2,3)

In [46]:
print(t)

(1, 2, 3)

In [47]:
t.append(4)

AttributeError: 'tuple' object has no attribute 'append'

In [48]:
print(dir(t))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [53]:
l=[1]

In [54]:
l[0]="A"

In [55]:
l

['A']

In [56]:
tup=(1,)

In [57]:
tup[0]

1

In [58]:
tup[0]="A"

TypeError: 'tuple' object does not support item assignment

In [59]:
string="string"

In [60]:
string[0]

's'

In [61]:
string[0]="A"

TypeError: 'str' object does not support item assignment

In [64]:
tup=("Afzal","Nowrozabad","484555")

In [65]:
print(tup)

('Afzal', 'Nowrozabad', '484555')

In [66]:
lis=["Afzal","Nowrozabad","484555","grras"]

In [67]:
print(lis)

['Afzal', 'Nowrozabad', '484555', 'grras']

In [68]:
tup=(1,3,1,"a","a","A")

In [70]:
tup.count(1)

2

In [71]:
tup.count("a")

2

In [72]:
tup.count("A")

1

In [73]:
tup.index(1)

0

In [75]:
tup.index(1,1)

2

In [76]:
tup.index(1,3)

ValueError: tuple.index(x): x not in tuple

In [78]:
a=1
b=0
div=a/b
print(div)

ZeroDivisionError: division by zero

In [79]:
try:
    a=1
    b=0
    div=a/b
except BaseException as arg:
    print(arg)
else:
    print(div)

division by zero

In [80]:
a=1
b=
div=a/1
print(div)

SyntaxError: invalid syntax (<ipython-input-80-380759efba1c>, line 2)

In [81]:
try:
    a=1
    b=
except BaseException as arg:
    print(arg)

SyntaxError: invalid syntax (<ipython-input-81-461b13f0e172>, line 3)

In [82]:
tup=(1,2,3,4,5,6)

In [84]:
counter=0
for var in tup:
    if var==6:
        print(counter)
    else:
        counter+=1

5

In [85]:
counter=0
for var in tup:
    if var==7:
        print(counter)
    else:
        counter+=1

In [86]:
"THIS iS PytHoN"

'THIS iS PytHoN'

In [ ]:
#This Is Pyhton