In [1]:
file=open("afzal.txt")

In [2]:
afzal=file.read()

In [3]:
print(afzal)

1001 afzal
1002 sakshi
1003 piyush
1004 nitesh
1005 sana
1006 prabodh

In [5]:
print(type(afzal))

<class 'str'>

In [6]:
afzal=afzal.split("\n")

In [7]:
afzal

['1001 afzal',
 '1002 sakshi',
 '1003 piyush',
 '1004 nitesh',
 '1005 sana',
 '1006 prabodh']

In [16]:
afzal_student=[]
for var in afzal:
    var=var.split()
    afzal_student.append(var)

In [17]:
afzal_student

[['1001', 'afzal'],
 ['1002', 'sakshi'],
 ['1003', 'piyush'],
 ['1004', 'nitesh'],
 ['1005', 'sana'],
 ['1006', 'prabodh']]

In [18]:
print(afzal_student)

[['1001', 'afzal'], ['1002', 'sakshi'], ['1003', 'piyush'], ['1004', 'nitesh'], ['1005', 'sana'], ['1006', 'prabodh']]

In [19]:
afzalid=[]
afzalname=[]
for var in afzal_student:
    for var2 in var:
        if var2.isnumeric():
            afzalid.append(var2)
        else:
            afzalname.append(var2)

In [20]:
afzalid

['1001', '1002', '1003', '1004', '1005', '1006']

In [21]:
afzalid=list(map(int,afzalid))

In [22]:
afzalid

[1001, 1002, 1003, 1004, 1005, 1006]

In [23]:
afzalname

['afzal', 'sakshi', 'piyush', 'nitesh', 'sana', 'prabodh']

In [24]:
file.close()

In [25]:
file=open("shiv.txt")

In [26]:
shiv=file.read()

In [28]:
shi

'1007 anuj\n1008 avnish\n1009 chintu\n1010 afan\n1011 ayush\n1004 nitesh'

In [31]:
del shiv

In [32]:
shi\

NameError: name 'shiv' is not defined

In [33]:
shiv=file.read()

In [35]:
file.seek(0)

0

In [36]:
shiv=file.read()

In [37]:
print(shiv)

1007 anuj
1008 avnish
1009 chintu
1010 afan
1011 ayush
1004 nitesh

In [38]:
shiv=shiv.split("\n")

In [39]:
print(shiv)

['1007 anuj', '1008 avnish', '1009 chintu', '1010 afan', '1011 ayush', '1004 nitesh']

In [40]:
shiv_student=[]
for var in shiv:
    var=var.split()
    shiv_student.append(var)

In [41]:
shiv_student

[['1007', 'anuj'],
 ['1008', 'avnish'],
 ['1009', 'chintu'],
 ['1010', 'afan'],
 ['1011', 'ayush'],
 ['1004', 'nitesh']]

In [42]:
shivid=[]
shivname=[]
for var in shiv_student:
    for var2 in var:
        if var2.isnumeric():
            shivid.append(var2)
        else:
            shivname.append(var2)

In [44]:
print(afzalid)
print(afzalname)
print(shivid)
print(shivname)

[1001, 1002, 1003, 1004, 1005, 1006]
['afzal', 'sakshi', 'piyush', 'nitesh', 'sana', 'prabodh']
['1007', '1008', '1009', '1010', '1011', '1004']
['anuj', 'avnish', 'chintu', 'afan', 'ayush', 'nitesh']

In [45]:
shivid=list(map(int,shivid))

In [46]:
shivid

[1007, 1008, 1009, 1010, 1011, 1004]

In [47]:
a=set(afzalid)

In [48]:
b=set(shivid)

In [49]:
a.intersection(b)

{1004}

In [50]:
counter=0
for var in afzalid:
    if var==1004:
        print(afzalname[counter])
    else:
        counter+=1

nitesh

In [51]:
file.close()