In [1]:
string="This is python programming language"

In [2]:
string="          This is python         "

In [3]:
string.strip()

'This is python'

In [4]:
string=input()

This is python programming language

In [5]:
print(string)

This is python programming language

In [6]:
string=input()

1234567

In [7]:
print(string)

1234567

In [8]:
print(type(string))

<class 'str'>

In [9]:
string=int(input())

1234

In [10]:
print(string)

1234

In [11]:
print(type(string))

<class 'int'>

In [12]:
string=input()

a

In [13]:
string=input("Enter your name : ")

Enter your name : java

In [14]:
print(string)

java

In [15]:
data=int(input("Enter data in numeric format :"))

Enter data in numeric format :12345

In [16]:
print(data)
print(type(data))

12345
<class 'int'>

In [17]:
data=int(input("Enter data in numeric format :"))

Enter data in numeric format :python

ValueError: invalid literal for int() with base 10: 'python'

In [18]:
data=int(input("Enter data in numeric format :"))

Enter data in numeric format :1.23

ValueError: invalid literal for int() with base 10: '1.23'

In [19]:
#input()--->takes values bydefault in string

In [20]:
user_name=input("Enter your username : ")

Enter your username : Afzal

In [21]:
print(user_name)

Afzal

In [24]:
user_name=input("Enter your username : ").split()

Enter your username : a F z a l

In [25]:
print(user_name)

['a', 'F', 'z', 'a', 'l']

In [26]:
user_name=input("Enter your username : ").split()
user_name="".join(user_name)
print(user_name)

Enter your username : a   f    z   a   l
afzal

In [27]:
user_name=input("Enter your username : ").split()
user_name="".join(user_name)
print(user_name)

Enter your username :             a       f     zal
afzal

In [29]:
file=open("data.txt")
data=file.read()
print(data)

afzal
python

In [30]:
print(type(data))

<class 'str'>

In [31]:
data=data.split()

In [32]:
data

['afzal', 'python']

In [33]:
len(data[0])

5

In [34]:
file.close()

In [40]:
file=open("data.txt")
for var in file:
    print(len(var.strip()))

5
6

In [37]:
name="Python  "
len(name)

8

In [38]:
print(name)

Python

In [41]:
user_input=input("Enter your name i.e. USERNAME")

Enter your name i.e. USERNAMEafzal

In [42]:
print(user_input)

afzal

In [43]:
user_input=input("Enter your name i.e. USERNAME")

Enter your name i.e. USERNAMEAFZal

In [44]:
print(user_name)

afzal

In [45]:
name="PytHON"

In [46]:
print(name)

PytHON

In [47]:
name.upper()

'PYTHON'

In [48]:
user_input=input("Enter your name i.e. USERNAME").upper()

Enter your name i.e. USERNAMEAFZalali

In [49]:
print(user_input)

AFZALALI

In [50]:
name

'PytHON'

In [51]:
name.lower()

'python'

In [52]:
para="Python is a good programming language"

In [53]:
para.replace("Python","Java")

'Java is a good programming language'

In [54]:
file=open("essay.txt")

In [55]:
data=file.read()

In [56]:
print(data)

The Indian Navy is the naval branch of the armed forces of India. With 55,000 men and women, including 5,000 naval aviation personnel and 2,000 Marine Commandos (MARCOS), it is the world’s fifth largest navy. The Indian Navy currently operates more than 155 vessels, including the aircraft carrier INS Viraat.

India uses its navy to enhance its international relations through joint exercises, port visits, and humanitarian missions, including disaster relief. The Indian Navy is increasing its capabilities as a true blue-water navy; the Indian Navy’s doctrine states that this is for the collective good of nations.

In [57]:
print(type(data))

<class 'str'>

In [58]:
data=data.replace("Indian","Afzal")

In [59]:
print(data)

The Afzal Navy is the naval branch of the armed forces of India. With 55,000 men and women, including 5,000 naval aviation personnel and 2,000 Marine Commandos (MARCOS), it is the world’s fifth largest navy. The Afzal Navy currently operates more than 155 vessels, including the aircraft carrier INS Viraat.

India uses its navy to enhance its international relations through joint exercises, port visits, and humanitarian missions, including disaster relief. The Afzal Navy is increasing its capabilities as a true blue-water navy; the Afzal Navy’s doctrine states that this is for the collective good of nations.

In [60]:
data=data.replace("India","Afzal")

In [62]:
print(data)

The Afzal Navy is the naval branch of the armed forces of Afzal. With 55,000 men and women, including 5,000 naval aviation personnel and 2,000 Marine Commandos (MARCOS), it is the world’s fifth largest navy. The Afzal Navy currently operates more than 155 vessels, including the aircraft carrier INS Viraat.

Afzal uses its navy to enhance its international relations through joint exercises, port visits, and humanitarian missions, including disaster relief. The Afzal Navy is increasing its capabilities as a true blue-water navy; the Afzal Navy’s doctrine states that this is for the collective good of nations.

In [63]:
file.close()

In [64]:
file=open("essay.txt","w")
file.write(data)
file.close()

In [68]:
data="""Python is a programming language, Python is a scripting language ,we can use Python in data science"""

In [69]:
print(data)

Python is a programming language, Python is a scripting language ,we can use Python in data science

In [70]:
data.replace("Python","Java")

'Java is a programming language, Java is a scripting language ,we can use Java in data science'

In [71]:
data.replace("Python","Java",1)

'Java is a programming language, Python is a scripting language ,we can use Python in data science'

In [72]:
data.replace("Python","Java",2)

'Java is a programming language, Java is a scripting language ,we can use Python in data science'

In [73]:
"""string.replace(old, new, count)
old – old substring you want to replace.new – new substring which would replace the old substring.
count – the number of times you want to replace the old substring with the new substring. (Optional )
"""

'string.replace(old, new, count)\nold –\xa0old substring you want to replace.\nnew –\xa0new substring which would replace the old substring.\ncount –\xa0the number of times you want to replace the old substring with the new substring. (Optional\xa0)\n'

In [74]:
print(data)

Python is a programming language, Python is a scripting language ,we can use Python in data science

In [75]:
data.find("language")

24

In [76]:
data[24]

'l'

In [77]:
data.replace("Python","Java",1)

'Java is a programming language, Python is a scripting language ,we can use Python in data science'

In [78]:
obj=data.replace("Python","Java",1)

In [79]:
print(obj)

Java is a programming language, Python is a scripting language ,we can use Python in data science

In [80]:
print(data)

Python is a programming language, Python is a scripting language ,we can use Python in data science

In [81]:
data.find("language")

24

In [82]:
data.find("language",25)

56

In [83]:
data[56]

'l'

In [84]:
data.find("language",25,55)

-1

In [85]:
print(data)

Python is a programming language, Python is a scripting language ,we can use Python in data science

In [86]:
data.count("language")

2

In [87]:
data.count("language",0,24)

0

In [88]:
data.count("language",0,50)

1

In [93]:
data.count("language",0,64)

2

In [95]:
data[63]

'e'

In [96]:
intro="myself afzal ali"
intro.startswith("myself")

True

In [97]:
intro=" myself afzal ali"
intro.startswith("my name is")

False

In [98]:
intro=" myself afzal ali"
intro.startswith("myself")

False

In [99]:
intro=" myself afzal ali"
intro.startswith(" myself")

True

In [100]:
name="Python"

In [101]:
name.startswith("P")

True

In [102]:
name.startswith("p")

False

In [103]:
"""a b s j r k n p"""
file=open("student.txt")
data=file.read()

In [104]:
print(data)

alice
bob
jhon
smith
afzal
sachin
rajat
ajay
sudha
komal
nehal
sana
piyush
nitesh

In [105]:
data=data.split("\n")

In [106]:
print(data)

['alice', 'bob', 'jhon', 'smith', 'afzal', 'sachin', 'rajat', 'ajay', 'sudha', 'komal', 'nehal', 'sana', 'piyush', 'nitesh', '']

In [107]:
data.pop()

''

In [109]:
print(data)

['alice', 'bob', 'jhon', 'smith', 'afzal', 'sachin', 'rajat', 'ajay', 'sudha', 'komal', 'nehal', 'sana', 'piyush', 'nitesh']

In [111]:
A=[]
B=[]
C=[]
D=[]
for var in data:
    if var.startswith("a"):
        A.append(var)
    elif var.startswith("b"):
        B.append(var)
    elif var.startswith("c"):
        C.append(var)
    else:
        D.append(var)
print(A)
print(B)
print(C)
print(D)

['alice', 'afzal', 'ajay']
['bob']
[]
['jhon', 'smith', 'sachin', 'rajat', 'sudha', 'komal', 'nehal', 'sana', 'piyush', 'nitesh']