In [1]:
a=5

In [2]:
a

5

In [3]:
print(a)

5

In [6]:
def piyush(name):
    print(name)

In [7]:
name="Piyush"

In [8]:
piyush(name)

Piyush

In [9]:
name_1="Piyush"
name_2="Piyush_2"
name_3="Piyush_3"

In [10]:
name_1

'Piyush'

In [11]:
print(name_1)

Piyush

In [12]:
print(name_1,name_2,name_2)

Piyush Piyush_2 Piyush_2

In [14]:
print(name_1,name_2,name_2,sep="\n")

Piyush-------Piyush_2-------Piyush_2

In [15]:
print(name_1)
print(name_2)

Piyush
Piyush_2

In [16]:
print(name_1,end=" ")
print(name_2)

Piyush Piyush_2

In [17]:
print(name_1,end=" ")
print(name_2)
print(name_3)

Piyush Piyush_2
Piyush_3

In [18]:
name="""
A paragraph is a self-contained unit of a discourse in writing 
dealing with a particular point or idea. 
A paragraph consists of one or more sentences. 
Though not required by the syntax of any language, 
paragraphs are usually an expected part of formal writing,
used to organize longer prose"""

In [19]:
print(name)

A paragraph is a self-contained unit of a discourse in writing
dealing with a particular point or idea.
A paragraph consists of one or more sentences.
Though not required by the syntax of any language,
paragraphs are usually an expected part of formal writing,
used to organize longer prose

In [20]:
file=open("Output.txt","r+")

In [21]:
print(name,file=file)

In [22]:
file.close()

In [23]:
a="Piyush"

In [24]:
print(a)

Piyush

In [25]:
a=input("Enter your name : ")

Enter your name : my name is piyush

In [26]:
a

'my name is piyush'

In [27]:
a=input("kuch bhi type kar : ")

kuch bhi type kar : 6453487658dfhbvjhsbdhcbsd4565@#$#$%#

In [28]:
a

'6453487658dfhbvjhsbdhcbsd4565@#$#$%#'

In [29]:
print(a)

6453487658dfhbvjhsbdhcbsd4565@#$#$%#

In [30]:
type(a)

str

In [31]:
a=input()
b=input()
sum=a+b
print(sum)

4
4
44

In [34]:
a=int(input())
b=int(input())
sum=a+b
print(sum)

1.23

ValueError: invalid literal for int() with base 10: '1.23'

In [35]:
l=[]
name=input("Enter your name : ")
l.append(name)

Enter your name : Afzal

In [36]:
l

['Afzal']

In [37]:
l=[]
a=0
while a<10:
    name=input("Enter your name :")
    l.append(name)
    print(l)
    a=a+1

Enter your name :Prabodh
['Prabodh']
Enter your name :Afzal
['Prabodh', 'Afzal']
Enter your name :sana
['Prabodh', 'Afzal', 'sana']
Enter your name :nitesh
['Prabodh', 'Afzal', 'sana', 'nitesh']
Enter your name :sana
['Prabodh', 'Afzal', 'sana', 'nitesh', 'sana']
Enter your name :sana
['Prabodh', 'Afzal', 'sana', 'nitesh', 'sana', 'sana']
Enter your name :sana
['Prabodh', 'Afzal', 'sana', 'nitesh', 'sana', 'sana', 'sana']

l=[]
a=0
while a<10:
    name=input("Enter your name :")
    if name in l:
        print("This username is already exits.")
    else:
        l.append(name)
        a=a+1
print(l)

In [48]:
l=["Afzal","Prabodh","Sana"]
name=input("Enter your name : ")
for var in l:
    if name==var:
        print("User already exists .")
    else:
        pass

Enter your name : Sana
User already exists .

In [43]:
"Sana" in l

True

In [44]:
"sana" in l

False

In [51]:
print(name) ; print(name_2)

Sana
Piyush_2

In [52]:
bin(8)

'0b1000'

In [53]:
bin(3)

'0b11'

In [54]:
bin(5)

'0b101'

In [55]:
3 | 4

7

In [56]:
3 & 4

0

In [57]:
~5

-6

In [58]:
3 ^ 4

7

In [59]:
3 << 2

12

In [60]:
8 >> 2

2