In [3]:
json_data="""
{"name":"AFzal",
"phone_number":654644654,
"Company":"Grras soltution private limited"}"""
#json data

In [4]:
print(json_data)

{"name":"AFzal",
"phone_number":654644654,
"Company":"Grras soltution private limited"}

In [5]:
import json

In [6]:
python_data=json.loads(json_data)#deserializer

In [7]:
print(python_data)

{'name': 'AFzal', 'phone_number': 654644654, 'Company': 'Grras soltution private limited'}

In [8]:
print(type(json_data))
print(type(python_data))

<class 'str'>
<class 'dict'>

In [36]:
python_data={"AFzal_batch":{1001:{"name":"sana",
                           "Graduation":"BCA",
                           "Contact":9564654654},
                           1002: {"name":"Prabodh",
                            "Graduation":"BBA running",
                            "Contact":454},
                           1003: {"name":"piyush",
                            "Graduation":"Btech",
                            "Contact":454}}}

In [23]:
from pprint import pprint
pprint(python_data)
print(type(python_data))

{'AFzal_batch': {1001: {'Contact': 9564654654,
                        'Graduation': 'BCA',
                        'name': 'sana'},
                 1002: {'Contact': 454,
                        'Graduation': 'BBA running',
                        'name': 'Prabodh'},
                 1003: {'Contact': 454,
                        'Graduation': 'Btech',
                        'name': 'piyush'}}}
<class 'dict'>

In [24]:
json_data=json.dumps(python_data)

In [25]:
print(json_data)
print(type(json_data))

{"AFzal_batch": {"1001": {"name": "sana", "Graduation": "BCA", "Contact": 9564654654}, "1002": {"name": "Prabodh", "Graduation": "BBA running", "Contact": 454}, "1003": {"name": "piyush", "Graduation": "Btech", "Contact": 454}}}
<class 'str'>

In [29]:
print(python_data)

{'AFzal_batch': {1001: {'name': 'sana', 'Graduation': 'BCA', 'Contact': 9564654654}, 1002: {'name': 'Prabodh', 'Graduation': 'BBA running', 'Contact': 454}, 1003: {'name': 'piyush', 'Graduation': 'Btech', 'Contact': 454}}}

In [33]:
with open("Sana_Python.txt","w") as d:
    d.write(str(python_data))

In [38]:
with open("Sana_Json.json","w") as data:
    json.dump(python_data,data)

In [5]:
import pickle

In [6]:
Python_data=["Sana","Piyush","Prabodh","Afzal"]

In [7]:
pickle_data=pickle.dumps(Python_data)

In [8]:
print(pickle_data)

b'\x80\x03]q\x00(X\x04\x00\x00\x00Sanaq\x01X\x06\x00\x00\x00Piyushq\x02X\x07\x00\x00\x00Prabodhq\x03X\x05\x00\x00\x00Afzalq\x04e.'

In [9]:
Python_data=pickle.loads(pickle_data)

In [10]:
print(Python_data)

['Sana', 'Piyush', 'Prabodh', 'Afzal']

In [11]:
data={"cricketer":{"Virat":100,
                  "Dhoni":100,
                  "sachin":25,
                  "Rohit sharme":264}}

In [12]:
print(data)

{'cricketer': {'Virat': 100, 'Dhoni': 100, 'sachin': 25, 'Rohit sharme': 264}}

In [13]:
pickle_data=pickle.dumps(data)

In [14]:
print(pickle_data)

b'\x80\x03}q\x00X\t\x00\x00\x00cricketerq\x01}q\x02(X\x05\x00\x00\x00Viratq\x03KdX\x05\x00\x00\x00Dhoniq\x04KdX\x06\x00\x00\x00sachinq\x05K\x19X\x0c\x00\x00\x00Rohit sharmeq\x06M\x08\x01us.'

In [15]:
data_=pickle.loads(pickle_data)

In [17]:
print(data)

{'cricketer': {'Virat': 100, 'Dhoni': 100, 'sachin': 25, 'Rohit sharme': 264}}

In [18]:
data

{'cricketer': {'Virat': 100, 'Dhoni': 100, 'sachin': 25, 'Rohit sharme': 264}}

In [27]:
with open("pickle.pickle","wb") as file:
    pickle.dump(data,file)

In [29]:
data={"Student":{"Afzal":1233,
                "Piyush":12233433}}

In [33]:
with open("pickle.pickle","rb") as file:
    pickle.dump(data,file)

UnsupportedOperation: write

In [32]:
file=open("pickle.pickle")
data=pickle.load(file)

TypeError: a bytes-like object is required, not 'str'