In [1]:
t=(1,2,3,4,5)

In [2]:
t[1]

2

In [3]:
t[::1]

(1, 2, 3, 4, 5)

In [4]:
t=(1,2,3,4)

In [5]:
t[1]="Afzal"

TypeError: 'tuple' object does not support item assignment

In [6]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [7]:
t.index(2)

1

In [12]:
t=("Afzal","Nitesh","Prabodh","Sana","Afzal")

In [13]:
t.index("Nitesh")

1

In [14]:
t.count("Afzal")

2

In [15]:
t

('Afzal', 'Nitesh', 'Prabodh', 'Sana', 'Afzal')

In [22]:
t=("AFzal","Nitesh",["Sana"])

In [23]:
t

('AFzal', 'Nitesh', ['Sana'])

In [24]:
id(t)

2553303976696

In [30]:
t[2]

['Sana', 'Prabodh']

In [31]:
a=t[2].append("Prabodh")

In [32]:
t

('AFzal', 'Nitesh', ['Sana', 'Prabodh', 'Prabodh'])

In [33]:
id(t)

2553303976696

In [35]:
print(a)

None

In [36]:
l=[1,2,3]

In [37]:
l[1]="Prabodh"

In [38]:
l

[1, 'Prabodh', 3]

In [39]:
l[4]="Nitesh"

IndexError: list assignment index out of range

In [40]:
l

[1, 'Prabodh', 3]

In [41]:
l.insert(1,"AFzal")

In [42]:
l

[1, 'AFzal', 'Prabodh', 3]

In [48]:
t=(1,2,3)

In [49]:
l=(1,2,3)

In [50]:
alpha="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"

In [52]:
key={char :ord(char)for char in alpha}

In [55]:
print(key)

{'a': 97, 'b': 98, 'c': 99, 'd': 100, 'e': 101, 'f': 102, 'g': 103, 'h': 104, 'i': 105, 'j': 106, 'k': 107, 'l': 108, 'm': 109, 'n': 110, 'o': 111, 'p': 112, 'q': 113, 'r': 114, 's': 115, 't': 116, 'u': 117, 'v': 118, 'w': 119, 'x': 120, 'y': 121, 'z': 122, 'A': 65, 'B': 66, 'C': 67, 'D': 68, 'E': 69, 'F': 70, 'G': 71, 'H': 72, 'I': 73, 'J': 74, 'K': 75, 'L': 76, 'M': 77, 'N': 78, 'O': 79, 'P': 80, 'Q': 81, 'R': 82, 'S': 83, 'T': 84, 'U': 85, 'V': 86, 'W': 87, 'X': 88, 'Y': 89, 'Z': 90}

In [56]:
user=input("Enter your password : NOTE: In character only ")

Enter your password : NOTE: In character only h

In [69]:
alpha="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ"
key={char :ord(char)for char in alpha}
user=input("Enter your password : NOTE: In character only ")
l=[]
for var in user:
    a=key[var]
    l.append(a)
c=""
for var in l:
    c=c+str(var)    
print(c)

Enter your password : NOTE: In character only AfZAL
65102906576

In [70]:
#www.starceritification.com#input
#www starcertification com#output

In [80]:
name="www.starceritification.com"

In [81]:
name_1=name.split(".")

In [82]:
name="".join(name_1)

In [83]:
name

'wwwstarceritificationcom'

In [84]:
name="www.starceritification.com"

In [85]:
name.replace("."," ")

'www starceritification com'

# OPERATOR

* Airthmatic operator
* Membership operator
* logical operator
* assignment operator
* relational operator 
* identity operator (special )
* bitwise operator

 ## membership operator

In [86]:
#in #not in

In [87]:
students=["Nitesh","Prabodh","Sana","Afzal"]

In [89]:
'Pooja' in  students

False

In [90]:
"Afzal" in students

True

In [98]:
def check(list_):
    for var in list_:
        if "Afzal"==var:
            return print("Mil gaya bawa")
    return print("Chal nikal")

In [99]:
students=["Nitesh","Prabodh","Sana","Afzal"]

In [100]:
check(students)

Mil gaya bawa

In [97]:
"Afzal" in students

True

In [101]:
students=["Nitesh","Prabodh","Sana"]

In [102]:
check(students)

Chal nikal

In [104]:
students

['Nitesh', 'Prabodh', 'Sana']

In [105]:
"Sana" not in students

False

## identity operator

In [108]:
#is #not is

In [110]:
a=3

In [111]:
b=3

In [112]:
print(id(a))
print(id(b))

1442016384
1442016384

In [113]:
a is b

True

In [115]:
a is not b

False

In [116]:
a=3
b=7

In [117]:
a is b

False

In [118]:
a is not b

True

In [133]:
try:
    a=int(input("Enter the number : "))
    b=int(input("Enter the second number : "))
    if a is b:
        print("Nahi karunga ! nikal....")
    elif a==b:
        c=a+b
        print(c)
        print("Chal tera kaam ho gya .")
except:
    print("Acchese se value dekh, kya de raha hai ")

Enter the number : dsvfs
Acchese se value dekh, kya de raha hai

In [125]:
a=123456678089786768757657658

In [126]:
b=123456678089786768757657658

In [127]:
a is b

False

In [128]:
a==b

True

## relational operator

In [134]:
#==:It checks weather the data of the different variable are same or not

In [135]:
a="Afzal"
b="Afzal"

In [136]:
a==b

True

In [137]:
a="SAna"
b="sana"

In [138]:
a==b

False

In [139]:
name="Prabodh"
name_2="prabodh"

In [140]:
name==name_2

False

In [143]:
# !=

In [146]:
name!=name_2#the data of these vairables are not same thats y it will return false

True

In [147]:
# >,<,>=,<=

In [160]:
3>5

False

In [161]:
3<5

True

In [162]:
3>=5

False

In [165]:
3<=2

False

## logical operator

In [166]:
#and #or #not

In [167]:
2>1 and 1>2

False

In [168]:
2>1 or 1>2

True

In [170]:
not 1>2

True

In [171]:
a=2
b=3
c=1
if a>b and a>c:
    print("A is greater")
elif b>a and b>c:
    print("B is greater")
else:
    print("C is greater")

B is greater

In [172]:
a=2
b=3
c=1
if a>b or a>c:
    print("A is greater")
elif b>a or b>c:
    print("B is greater")
else:
    print("C is greater")

A is greater

## assignment operator

In [173]:
a=5

In [176]:
a

5

In [177]:
b=a+5

In [178]:
b

10

In [179]:
b += a#b=b+a

In [180]:
b

15

In [181]:
b *= a#b = b*a

In [182]:
b

75

In [183]:
b /= a#b = b/a

In [184]:
b

15.0

In [185]:
b //= a #b=b//a

In [186]:
b

3.0

In [187]:
b **= 3 #b=b**3

In [188]:
b

27.0

In [189]:
b %= 4 #b=b%4

In [190]:
b

3.0