In [102]:
name="Piyush"
xyz="AFZAL"

In [3]:
print(name)

Piyush

In [5]:
id(name)

2216457876064

In [6]:
Second_name="Piyush"

In [7]:
print(Second_name)

Piyush

In [8]:
id(Second_name)

2216457876064

In [9]:
del name

In [10]:
name

NameError: name 'name' is not defined

In [11]:
Second_name

'Piyush'

In [12]:
print(Second_name)

Piyush

In [13]:
name="Piyush"

In [14]:
name

'Piyush'

In [15]:
id(name)

2216457876064

In [16]:
name="Piyush"

In [17]:
Second_name="piyush"

In [18]:
id(name)

2216457876064

In [19]:
id(Second_name)

2216458462016

# Numbers

* integer
* float
* complex

In [20]:
number="1234"

In [21]:
print(number)

1234

In [24]:
type(number)

str

In [25]:
tup=(1,2,3)

In [26]:
type(tup)

tuple

In [27]:
t="(1,2,3,4)"

In [28]:
type(t)

str

In [29]:
number=1234

In [30]:
type(number)

int

In [31]:
print(dir(number))

['__abs__', '__add__', '__and__', '__bool__', '__ceil__', '__class__', '__delattr__', '__dir__', '__divmod__', '__doc__', '__eq__', '__float__', '__floor__', '__floordiv__', '__format__', '__ge__', '__getattribute__', '__getnewargs__', '__gt__', '__hash__', '__index__', '__init__', '__init_subclass__', '__int__', '__invert__', '__le__', '__lshift__', '__lt__', '__mod__', '__mul__', '__ne__', '__neg__', '__new__', '__or__', '__pos__', '__pow__', '__radd__', '__rand__', '__rdivmod__', '__reduce__', '__reduce_ex__', '__repr__', '__rfloordiv__', '__rlshift__', '__rmod__', '__rmul__', '__ror__', '__round__', '__rpow__', '__rrshift__', '__rshift__', '__rsub__', '__rtruediv__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__truediv__', '__trunc__', '__xor__', 'bit_length', 'conjugate', 'denominator', 'from_bytes', 'imag', 'numerator', 'real', 'to_bytes']

In [32]:
number_1=444
number_2=555

In [33]:
number_1.__add__(number_2)

999

In [34]:
number_1+number_2

999

In [37]:
number=123
print(id(number))
type(number)
print(number.__sizeof__())

1599437696
28

In [38]:
number_2=123

In [39]:
id(number_2)

1599437696

In [40]:
number=123456788902576574646

In [41]:
id(number)

2216458503792

In [42]:
number.__sizeof__()

36

In [43]:
number_2=123456788902576574646

In [44]:
id(number_2)

2216458504152

In [45]:
a=5
b=5
c=5
print(id(a))
print(id(b))
print(id(c))

1599433920
1599433920
1599433920

In [46]:
name=["Piyush","Afzal","Pooja","Nitesh"]

In [47]:
name_copy=name

In [48]:
name_copy

['Piyush', 'Afzal', 'Pooja', 'Nitesh']

In [49]:
name

['Piyush', 'Afzal', 'Pooja', 'Nitesh']

In [50]:
name.pop()

'Nitesh'

In [51]:
name

['Piyush', 'Afzal', 'Pooja']

In [52]:
name_copy

['Piyush', 'Afzal', 'Pooja']

In [53]:
number=1

In [54]:
type(number)

int

In [55]:
number=1.0

In [56]:
print(number)

1.0

In [57]:
type(number)

float

In [58]:
2323+32

2355

In [59]:
323232*2

646464

In [60]:
2**2

4

In [61]:
2/2

1.0

In [62]:
2//2

1

In [63]:
2%2

0

In [64]:
name="Piyush"

In [65]:
name

'Piyush'

In [66]:
print(dir(name))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [67]:
name="Piyush"

In [68]:
name.startswith("P")

True

In [69]:
name.startswith("i")

False

In [71]:
college=["Piyush","Afzal","Priya","Pankhudi","Pooja","Nitesh","rahul"]

In [72]:
name=[]

In [73]:
for var in college:
    if var.startswith("P"):
        name.append(var)
    else:
        print("This name is not belong to name list",var)

This name is not belong to name list Afzal
This name is not belong to name list Nitesh
This name is not belong to name list rahul

In [74]:
name

['Piyush', 'Priya', 'Pankhudi', 'Pooja']

In [75]:
name

['Piyush', 'Priya', 'Pankhudi', 'Pooja']

In [76]:
name="Piyush"

In [77]:
name="Piyush_Prateek Afzal_aLi"

In [78]:
name

'Piyush_Prateek Afzal_aLi'

In [79]:
name.split()

['Piyush_Prateek', 'Afzal_aLi']

In [92]:
file=open("name.txt","r+")

In [93]:
file

In [94]:
print(file)

<_io.TextIOWrapper name='name.txt' mode='r+' encoding='cp1251'>

In [95]:
name=file.read()

In [96]:
print(name)

Piyush_prateek AFzal_ali Pooja_priya Nitesh_Chouhan Rahul_singh shivam_jha

In [97]:
type(name)

str

In [98]:
name_list=name.split()

In [99]:
name_list

['Piyush_prateek',
 'AFzal_ali',
 'Pooja_priya',
 'Nitesh_Chouhan',
 'Rahul_singh',
 'shivam_jha']

In [100]:
file.close()

In [101]:
name="piyush afzal pooja rahul shivam nitesh"
name_list=name.split()
print(name_list)

['piyush', 'afzal', 'pooja', 'rahul', 'shivam', 'nitesh']

In [104]:
for var in xyz:#this variable we declare at the begining of this notebook
    print(var)

A
F
Z
A
L

In [108]:
name="PIYUSH"
name

'PIYUSH'

In [111]:
name_2=name.lower()

In [112]:
name

'PIYUSH'

In [113]:
name_2

'piyush'

In [115]:
l=[]
c=0
while c<10:
    username=input("Enter your name: ")
    l.append(username)
    c=c+1

Enter your name: AFzal
Enter your name: PIYUSH
Enter your name: pOOja
Enter your name: Shivam
Enter your name: sachin
Enter your name: rahul
Enter your name: PRIYA
Enter your name: NITesh
Enter your name: dhNI
Enter your name: ROHIt

In [117]:
print(l)

['AFzal', 'PIYUSH', 'pOOja', 'Shivam', 'sachin', 'rahul', 'PRIYA', 'NITesh', 'dhNI', 'ROHIt']

In [118]:
name="piyush"
name.capitalize()

'Piyush'

In [122]:
l=[]
c=0
while c<10:
    username=input("Enter your name: ")#username=input("Enter your name: ").lower().capitalize()
    username=username.lower()
    username=username.strip().capitalize()
    l.append(username)
    c=c+1

Enter your name: sdsaa
Enter your name: sda
Enter your name:    dfhsw
Enter your name: sfsefse  fs
Enter your name: sdfsefsw
Enter your name:     efwefw
Enter your name: efwefwe
Enter your name:     efw
Enter your name:     ewfw
Enter your name:      fwe

In [123]:
print(l)

['Sdsaa', 'Sda', 'Dfhsw', 'Sfsefse  fs', 'Sdfsefsw', 'Efwefw', 'Efwefwe', 'Efw', 'Ewfw', 'Fwe']

In [124]:
name="    P    I  y   U   s  h"

In [128]:
name=name.split()

In [129]:
name

['P', 'I', 'y', 'U', 's', 'h']

In [132]:
"".join(name)

'PIyUsh'

In [133]:
"---".join(name)

'P---I---y---U---s---h'

In [134]:
name="Piyush"

In [135]:
name.isupper()

False

In [136]:
"PIYUSH".isupper()

True

In [138]:
name="AFzal Piyush POOJA"

In [139]:
name.find("Piyush")

6

In [141]:
name[6:]

'Piyush POOJA'

In [151]:
name="SSSs"

In [152]:
name.casefold()

'ssss'

In [153]:
name="afzal piyush afzal pooja"

In [154]:
name.count("afzal")

2

In [157]:
name="Piiyush"

In [156]:
name.count("P")

1

In [158]:
name.count("i")

2

In [159]:
name.count("I")

0

In [160]:
name="Piyush"

In [161]:
name.center(550,"*")

'********************************************************************************************************************************************************************************************************************************************************************************Piyush********************************************************************************************************************************************************************************************************************************************************************************'

In [163]:
name.center(549,"-")

'--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------Piyush-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------'

In [164]:
name="""
afzal is a good boy 
he has done his btech from jaipur .
afzal take tea in every 5 hours of intreval"""

In [166]:
name=name.replace("afzal","piyush")

In [168]:
print(name)

piyush is a good boy
he has done his btech from jaipur .
piyush take tea in every 5 hours of intreval