* genrator

In [1]:
print("Nehal")

Nehal

In [2]:
for var in range(10):
    print("nehal")

nehal
nehal
nehal
nehal
nehal
nehal
nehal
nehal
nehal
nehal

In [3]:
lis=[var for var in range(100)]

In [4]:
print(lis)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [5]:
import sys

In [6]:
sys.getsizeof(lis)

912

In [7]:
gen=(var for var in range(100))

In [9]:
print(gen)

<generator object <genexpr> at 0x000002080801CEB8>

In [10]:
sys.getsizeof(gen)

88

In [11]:
for var in lis:
    if var%2==0:
        print(var)
    else:
        pass

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [13]:
for var in gen:
    if var%2==0:
        print(var)
    else:
        pass

In [1]:
def even(number):
    while number!=0:
        if number%2==0:
            yield number
        number=number-1

In [2]:
gen=even(100)

In [3]:
for var in gen:
    print(var)

100
98
96
94
92
90
88
86
84
82
80
78
76
74
72
70
68
66
64
62
60
58
56
54
52
50
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2

In [6]:
def even(number):
    while number!=0:
        if number%2==0:
            return number
        number=number-1

In [7]:
even(99)

98

# Lambda function

* it is call anonymous function
* it is also call inline function
* because it can take n number of arguments but consists only one expression
* and we use lambda keyword to define a lambda function
* we can not not return keyword inside it.
* it will return the evaluated expression

syntax of lamda function:----

function_name(optional) = lamda arg1,arg2,...argn : expression

In [9]:
def Iseven(number):
    if number==0 or number<0:
        return "Invalid number"
    elif number%2==0:
        return True
    else:
        return False

In [10]:
Iseven(12)

True

In [11]:
Iseven(13)

False

In [12]:
Iseven(0)

'Invalid number'

In [13]:
Iseven(-3)

'Invalid number'

True if exprssion else False

In [14]:
iseven=lambda numberiseven=lambda number : True if number%2==0 else False : True if number%2==0 else False

In [15]:
iseven(12)

True

In [16]:
iseven(13)

False

In [18]:
iseven=lambda number : True if number%2==0 else False print("HI")

SyntaxError: invalid syntax (<ipython-input-18-720b08f6064e>, line 1)

In [19]:
iseven=lambda number : return True if number%2==0 else return False

SyntaxError: invalid syntax (<ipython-input-19-ba41dbc5d654>, line 1)

In [20]:
def add(a,b):
    return a+b

In [21]:
add(1,3)

4

In [22]:
add=lambda a,b: return a+b

SyntaxError: invalid syntax (<ipython-input-22-24cd9432d3c6>, line 1)

In [23]:
add=lambda a,b :a+b

In [24]:
add(1,2)

3

In [25]:
iseven=lambda number : print("Even") if number%2==0 else print("Odd")

In [26]:
iseven(12)

Even

In [27]:
def greatest(a,b,c):
    if a>b and a>c:
        return a
    elif b>c:
        return b
    else:
        return c

In [28]:
greatest(12,332,1)

332

In [29]:
greatest(11,22,321)

321

In [30]:
greatest = lambda a,b,c : a if a>b and a>c else b if b>c else c

In [31]:
greatest(12,1121,1)

1121

In [32]:
greatest(12,2,1)

12

In [33]:
if False:
    print(1)
else:
    if False:
        print(3)
    else:
        print(5)

5

In [34]:
#prime number using lamda fucntion without using recursion method.

## Map,filter and reduce are the built in functions

### Map function

* map is a builtin function which we use to map the data of an iterable object to a specific function
* syntax :--- map(function_name,iterable)
* map function return the map object
* we can convert map object into a list by using list()
* we can also convert map object into a tuple by using tuple()

In [35]:
lis=[var for var in range(1,11)]

In [37]:
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
#create another list which consists the square of all number which are given in lis object"

In [39]:
sq=[]
for var in lis:
    sq.append(var**2)

In [40]:
print(lis)
print(sq)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
def sq(number):
    return number**2

In [48]:
square=map(sq,lis)

In [49]:
print(square)

<map object at 0x000002A329C8CAC8>

In [46]:
for var in square:
    print(var)

1
4
9
16
25
36
49
64
81
100

In [47]:
for var in square:
    print(var)

In [50]:
square=list(map(sq,lis))

In [51]:
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
list(map(lambda number:number**2,[1,2,3,45,6,7,8,9,10]))

[1, 4, 9, 2025, 36, 49, 64, 81, 100]

In [53]:
"""1 2 3 4 5"""

'1 2 3 4 5'

In [54]:
number=input("Enter the number note sep by space :")
number=number.split()
def conv(number):
    return int(number)
an_lis=[]
for var in number:
    an_lis.append(conv(var))
print(an_lis)

Enter the number note sep by space :1 2 3 4 5
[1, 2, 3, 4, 5]