In [1]:
range(20)

range(0, 20)

In [2]:
a=range(20)

In [3]:
print(a)

range(0, 20)

In [8]:
print(*a)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [7]:
print(*a)

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [9]:
a=list(range(10))

In [10]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
a=tuple(range(10))

In [12]:
a

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [13]:
a=str(range(10))

In [14]:
a

'range(0, 10)'

In [15]:
print(a)

range(0, 10)

In [16]:
print(*a)

r a n g e ( 0 ,   1 0 )

In [17]:
range(1,10)

range(1, 10)

In [18]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
range(1,10,2)

range(1, 10, 2)

In [20]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [22]:
tup=(1,2,3,[1,2,3])

In [23]:
print(tup)

(1, 2, 3, [1, 2, 3])

In [24]:
print(tup[2])

3

In [27]:
tup[3][1]

2

In [29]:
tup[2]="Python"

TypeError: 'tuple' object does not support item assignment

In [30]:
tup[3][1]="Python"

In [31]:
print(tup)

(1, 2, 3, [1, 'Python', 3])

In [32]:
len(tup)

4

In [38]:
tup=(1,2,3)

In [39]:
sum(tup)

6

In [42]:
counter=0
for var in tup:
    counter=counter+var

In [43]:
print(counter)

6

In [44]:
"""
set mutable 
but the elements/items of sets must be immutable
sets unordered"""

'\nset mutable \nbut the elements/items of sets must be immutable\nsets unordered'

In [45]:
A={1,2,3}

In [46]:
print(A)

{1, 2, 3}

In [47]:
print(type(A))

<class 'set'>

In [48]:
A[1]

TypeError: 'set' object does not support indexing

In [49]:
lis=["sakshi","Alice","Alice","Alice","AFzal","Prabodh","Piyush"]

In [50]:
set(lis)

{'AFzal', 'Alice', 'Piyush', 'Prabodh', 'sakshi'}

In [51]:
a={1,2,3,4,1,1}

In [52]:
a

{1, 2, 3, 4}

In [53]:
a[2]="Afzal"

TypeError: 'set' object does not support item assignment

In [54]:
a

{1, 2, 3, 4}

In [55]:
a.add(5)

In [56]:
a

{1, 2, 3, 4, 5}

In [57]:
a={"Hi","How","ARe","YOu>?"}

In [58]:
a

{'ARe', 'Hi', 'How', 'YOu>?'}

In [59]:
a={"Hi","How","ARe","YOu>?",1,2,3}

In [60]:
a

{1, 2, 3, 'ARe', 'Hi', 'How', 'YOu>?'}

In [61]:
a={"Hi","How","ARe","YOu>?",[1,2,3]}

TypeError: unhashable type: 'list'

In [62]:
file=open("afzal.txt")

In [63]:
afzal=file.read()

In [64]:
file.close()

In [65]:
file=open("shiv.txt")

In [66]:
shiv=file.read()

In [67]:
file.close()

In [68]:
print(afzal)

1001 afzal
1002 sakshi
1003 piyush
1004 nitesh
1005 sana
1006 prabodh

In [69]:
print(shiv)

1007 anuj
1008 avnish
1009 chintu
1010 afan
1011 ayush
1004 nitesh

In [70]:
afzal=afzal.split("\n")

In [71]:
print(afzal)

['1001 afzal', '1002 sakshi', '1003 piyush', '1004 nitesh', '1005 sana', '1006 prabodh']

In [72]:
afzal_lis=[]
for var in afzal:
    var=var.split()
    afzal_lis.append(var)

In [74]:
print(afzal_lis)

[['1001', 'afzal'], ['1002', 'sakshi'], ['1003', 'piyush'], ['1004', 'nitesh'], ['1005', 'sana'], ['1006', 'prabodh']]

In [75]:
shiv=shiv.split("\n")

In [76]:
print(shiv)

['1007 anuj', '1008 avnish', '1009 chintu', '1010 afan', '1011 ayush', '1004 nitesh']

In [79]:
shiv_lis=[]
for var in shiv:
    var=var.split()
    shiv_lis.append(var)

In [80]:
print(shiv_lis)

[['1007', 'anuj'], ['1008', 'avnish'], ['1009', 'chintu'], ['1010', 'afan'], ['1011', 'ayush'], ['1004', 'nitesh']]

In [81]:
print(afzal_lis)
print(shiv_lis)

[['1001', 'afzal'], ['1002', 'sakshi'], ['1003', 'piyush'], ['1004', 'nitesh'], ['1005', 'sana'], ['1006', 'prabodh']]
[['1007', 'anuj'], ['1008', 'avnish'], ['1009', 'chintu'], ['1010', 'afan'], ['1011', 'ayush'], ['1004', 'nitesh']]

In [84]:
afzal_ID=[]
afzal_name=[]
for var in afzal_lis:
    for var_2 in var:
        if var_2.isnumeric():
            afzal_ID.append(var_2)
        else:
            afzal_name.append(var_2)

In [85]:
afzal_ID

['1001', '1002', '1003', '1004', '1005', '1006']

In [86]:
afzal_name

['afzal', 'sakshi', 'piyush', 'nitesh', 'sana', 'prabodh']

In [87]:
afzal_ID=list(map(int,afzal_ID))

In [88]:
afzal_ID

[1001, 1002, 1003, 1004, 1005, 1006]

In [89]:
shiv_ID=[]
shiv_name=[]
for var in shiv_lis:
    for var_2 in var:
        if var_2.isnumeric():
            shiv_ID.append(var_2)
        else:
            shiv_name.append(var_2)
else:
    shiv_ID=list(map(int,shiv_ID))

In [90]:
shiv_ID

[1007, 1008, 1009, 1010, 1011, 1004]

In [91]:
shiv_name

['anuj', 'avnish', 'chintu', 'afan', 'ayush', 'nitesh']

In [93]:
matching=[]
for var in afzal_ID:
    if var in shiv_ID:
        matching.append(var)
    else:
        pass

In [94]:
matching

[1004]

In [102]:
counter=0
for var in afzal_ID:
    if matching[0]==var:
        break
    else:
        counter+=1

In [103]:
print(counter)

3

In [104]:
afzal_ID

[1001, 1002, 1003, 1004, 1005, 1006]

In [105]:
afzal_name[3]

'nitesh'

In [107]:
a=["afzal","nitesh","sakshi","sana","afzal"]
b=["sana","Prabodh","Piyush","ayuhs","sana"]

In [110]:
a=set(a)

In [111]:
a

{'afzal', 'nitesh', 'sakshi', 'sana'}

In [112]:
b=set(b)

In [113]:
b

{'Piyush', 'Prabodh', 'ayuhs', 'sana'}

In [114]:
a.intersection(b)

{'sana'}

In [115]:
b.intersection(a)

{'sana'}

In [116]:
a.union(b)

{'Piyush', 'Prabodh', 'afzal', 'ayuhs', 'nitesh', 'sakshi', 'sana'}

In [117]:
b.union(a)

{'Piyush', 'Prabodh', 'afzal', 'ayuhs', 'nitesh', 'sakshi', 'sana'}

In [119]:
a

{'afzal', 'nitesh', 'sakshi', 'sana'}

In [120]:
b

{'Piyush', 'Prabodh', 'ayuhs', 'sana'}

In [121]:
a.difference(b)

{'afzal', 'nitesh', 'sakshi'}

In [122]:
b.difference(a)

{'Piyush', 'Prabodh', 'ayuhs'}

In [123]:
a|b

{'Piyush', 'Prabodh', 'afzal', 'ayuhs', 'nitesh', 'sakshi', 'sana'}

In [124]:
a&b

{'sana'}

In [125]:
a-b

{'afzal', 'nitesh', 'sakshi'}

In [126]:
a

{'afzal', 'nitesh', 'sakshi', 'sana'}

In [127]:
a.add("Smith")

In [129]:
a.add("zebra")

In [130]:
a

{'Smith', 'afzal', 'nitesh', 'sakshi', 'sana', 'zebra'}

In [131]:
print(dir(a))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [132]:
b=[1,2,3]

In [133]:
a

{'Smith', 'afzal', 'nitesh', 'sakshi', 'sana', 'zebra'}

In [134]:
a.update(b)

In [135]:
a

{1, 2, 3, 'Smith', 'afzal', 'nitesh', 'sakshi', 'sana', 'zebra'}

In [136]:
a.remove("afzal")

In [137]:
a

{1, 2, 3, 'Smith', 'nitesh', 'sakshi', 'sana', 'zebra'}

In [138]:
a.remove("afzal")

KeyError: 'afzal'

In [139]:
a.discard("sakshi")

In [140]:
a

{1, 2, 3, 'Smith', 'nitesh', 'sana', 'zebra'}

In [141]:
a.discard("sakshi")

In [142]:
a

{1, 2, 3, 'Smith', 'nitesh', 'sana', 'zebra'}

In [143]:
a.symmetric_difference(b)

{'Smith', 'nitesh', 'sana', 'zebra'}

In [144]:
a

{1, 2, 3, 'Smith', 'nitesh', 'sana', 'zebra'}

In [146]:
a=["afzal","nitesh","sakshi","sana","afzal"]
b=["sana","Prabodh","Piyush","ayuhs","sana"]

In [147]:
a=set(a)
b=set(b)

In [148]:
a

{'afzal', 'nitesh', 'sakshi', 'sana'}

In [149]:
b

{'Piyush', 'Prabodh', 'ayuhs', 'sana'}

In [150]:
a.difference(b)

{'afzal', 'nitesh', 'sakshi'}

In [151]:
a.symmetric_difference(b)

{'Piyush', 'Prabodh', 'afzal', 'ayuhs', 'nitesh', 'sakshi'}