In [1]:
string="afzal nitesh sachin afzal nehal ajay alice sana sakshi sana sachin"

In [ ]:
string="afzal nitesh sachin afzal nehal ajay alice sana sakshi sana sachin"
data = string.split()
print(data)
unique = set(data)
print(data1)

In [2]:
string="afzal nitesh sachin afzal nehal ajay alice sana sakshi sana sachin"
for var in string:
    print(var)

a
f
z
a
l

n
i
t
e
s
h

s
a
c
h
i
n

a
f
z
a
l

n
e
h
a
l

a
j
a
y

a
l
i
c
e

s
a
n
a

s
a
k
s
h
i

s
a
n
a

s
a
c
h
i
n

In [4]:
string="afzal nitesh sachin afzal nehal ajay alice sana sakshi sana sachin"
data = string.split()
print(data)
unique = set(data)
print(unique)

['afzal', 'nitesh', 'sachin', 'afzal', 'nehal', 'ajay', 'alice', 'sana', 'sakshi', 'sana', 'sachin']
{'nitesh', 'sakshi', 'ajay', 'sana', 'afzal', 'nehal', 'alice', 'sachin'}

In [7]:
for var in data:
    print(var)

afzal
nitesh
sachin
afzal
nehal
ajay
alice
sana
sakshi
sana
sachin

In [8]:
for var in unique:
    print(var)
    print(data.count(var))

nitesh
1
sakshi
1
ajay
1
sana
2
afzal
2
nehal
1
alice
1
sachin
2

In [9]:
string="""nehal=10
afzal=20
nitesh=30
sana=10"""



#outupt
"""
{nehal:10,afzal:20,nitesh:30,sana:10}"""

'\n{nehal:10,afzal:20,nitesh:30,sana:10}'

In [10]:
print(string)

nehal=10
afzal=20
nitesh=30
sana=10

In [11]:
string=string.split("\n")

In [12]:
print(string)

['nehal=10', 'afzal=20', 'nitesh=30', 'sana=10']

In [15]:
an_str=[]
for var in string:
    an_str.append(var.split("="))

In [16]:
an_str

[['nehal', '10'], ['afzal', '20'], ['nitesh', '30'], ['sana', '10']]

In [17]:
d={}
for var1,var2 in an_str:
    d.setdefault(var1,var2)

In [18]:
d

{'nehal': '10', 'afzal': '20', 'nitesh': '30', 'sana': '10'}

In [20]:
#find second largest and the largest element in an array.
user_input_length=int(input("Entre the length of your array : "))
empty_list=[]
for var_1 in range(user_input_length):
    user_input=int(input("Enter your number :"))
    empty_list.append(user_input)
number_list=empty_list
First=number_list[0]
Second=number_list[0]
for var in range(1,user_input_length):
    if number_list[var]>First:
        Second=First
        First=number_list[var]
    elif number_list[var]>Second and number_list[var]<First:
        Second=number_list[var]
    else:
        pass
print(f"The largest element in the array is {First}")
print(f"The Second largest element in the array is {Second}")

Entre the length of your array : 5
Enter your number :69
Enter your number :87
Enter your number :41
Enter your number :24
Enter your number :23
The largest element in the array is 87
The Second largest element in the array is 69

In [21]:
user_input_length=int(input("Entre the length of your array : "))
empty_list=[]
for var_1 in range(user_input_length):
    user_input=int(input("Enter your number :"))
    empty_list.append(user_input)

Entre the length of your array : 5
Enter your number :1
Enter your number :4
Enter your number :3
Enter your number :2
Enter your number :6

In [22]:
print(empty_list)

[1, 4, 3, 2, 6]

In [23]:
number_list=empty_list
First=number_list[0]#1
Second=number_list[0]#1

In [24]:
print(id(number_list))
print(id(empty_list))

2383841883656
2383841883656

In [25]:
number_list is empty_list

True

In [26]:
for var in range(1,user_input_length):#1 2 3 4        data= [1, 4, 3, 2, 6]
    if number_list[var]>First:#var=1
        Second=First
        First=number_list[var]
    elif number_list[var]>Second and number_list[var]<First:
        Second=number_list[var]
    else:
        pass
print(f"The largest element in the array is {First}")
print(f"The Second largest element in the array is {Second}")

The largest element in the array is 6
The Second largest element in the array is 4