In [1]:
#This is python
#This Is Python

In [6]:
string=input("Enter your sentence : ")
string=string.split()
title_sent=[]
for var in string:
    var=var.capitalize()
    title_sent.append(var)
title_sent=" ".join(title_sent)
print(title_sent)

Enter your sentence : this is python
This Is Python

In [7]:
#What is dictionary?

-->key value pair : note :  keys shoud be immutable-->number ,string,tuples,frozenset
-->values can be any valid python object
--> each key should be unique 
-->unordered....Does not support indexing 
---> we can acces data by using key

In [8]:
d={"Key":"Values"}

In [9]:
d={"Python":[1994,3.8,"Programming language","Guido van rossum",("Numpy","Pandas")]}

In [10]:
print(d)

{'Python': [1994, 3.8, 'Programming language', 'Guido van rossum', ('Numpy', 'Pandas')]}

In [11]:
print(type(d))

<class 'dict'>

In [13]:
d["Python"]

[1994, 3.8, 'Programming language', 'Guido van rossum', ('Numpy', 'Pandas')]

In [14]:
d={"Python":{"name":"Python",
            "year":1994,
            "version":3.8,
            "type":"Programming language",
            "Father":"Guido von rossum"}}

In [15]:
print(d)

{'Python': {'name': 'Python', 'year': 1994, 'version': 3.8, 'type': 'Programming language', 'Father': 'Guido von rossum'}}

In [16]:
from pprint import pprint

In [17]:
pprint(d)

{'Python': {'Father': 'Guido von rossum',
            'name': 'Python',
            'type': 'Programming language',
            'version': 3.8,
            'year': 1994}}

In [18]:
d["Python"]["version"]

3.8

In [24]:
d["Java"]={"Name":"java",
          "father":"Sun Microsystems",
          "type":"Programming language",
          "version":8.1,
          "Year":1995}

In [26]:
pprint(d)

{'Java': {'Name': 'java',
          'Year': 1995,
          'father': 'Sun Microsystems',
          'type': 'Programming language',
          'version': 8.1},
 'Python': {'Father': 'Guido von rossum',
            'name': 'Python',
            'type': 'Programming language',
            'version': 3.8,
            'year': 1994}}

In [27]:
import pandas as pd

In [28]:
df=pd.DataFrame(d)

In [29]:
print(df)

                       Python                  Java
Father       Guido von rossum                   NaN
Name                      NaN                  java
Year                      NaN                  1995
father                    NaN      Sun Microsystems
name                   Python                   NaN
type     Programming language  Programming language
version                   3.8                   8.1
year                     1994                   NaN

In [30]:
import json

In [37]:
file=open("example_2.json")
data=json.load(file)

In [38]:
print(data)

{'quiz': {'sport': {'q1': {'question': 'Which one is correct team name in NBA?', 'options': ['New York Bulls', 'Los Angeles Kings', 'Golden State Warriros', 'Huston Rocket'], 'answer': 'Huston Rocket'}}, 'maths': {'q1': {'question': '5 + 7 = ?', 'options': ['10', '11', '12', '13'], 'answer': '12'}, 'q2': {'question': '12 - 8 = ?', 'options': ['1', '2', '3', '4'], 'answer': '4'}}}}

In [39]:
pprint(data)

{'quiz': {'maths': {'q1': {'answer': '12',
                           'options': ['10', '11', '12', '13'],
                           'question': '5 + 7 = ?'},
                    'q2': {'answer': '4',
                           'options': ['1', '2', '3', '4'],
                           'question': '12 - 8 = ?'}},
          'sport': {'q1': {'answer': 'Huston Rocket',
                           'options': ['New York Bulls',
                                       'Los Angeles Kings',
                                       'Golden State Warriros',
                                       'Huston Rocket'],
                           'question': 'Which one is correct team name in '
                                       'NBA?'}}}}

In [40]:
print(type(data))

<class 'dict'>

In [42]:
data["quiz"]["maths"]["q1"]["options"]

['10', '11', '12', '13']

In [45]:
data["quiz"]["maths"]["q1"]["question"]

'5 + 7 = ?'

In [46]:
data["quiz"]["maths"]["q1"]["answer"]

'12'

In [47]:
data=pd.DataFrame(data)

In [49]:
data

                                                    quiz
maths  {'q1': {'question': '5 + 7 = ?', 'options': ['...
sport  {'q1': {'question': 'Which one is correct team...

In [54]:
d={"Python":{"name":"Python",
            "year":1994,
            "version":3.8,
            "type":"Programming language",
            "Father":"Guido von rossum"},
  "Python":"Kuch nahi"}

In [55]:
print(d)

{'Python': 'Kuch nahi'}

In [56]:
d["Python"]

'Kuch nahi'

In [57]:
print(dir(d))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [58]:
d={"Python":{"name":"Python",
            "year":1994,
            "version":3.8,
            "type":"Programming language",
            "Father":"Guido von rossum"},
  "Python":"Kuch nahi"}

In [59]:
d["Java"]=["Java java java"]

In [60]:
print(d)

{'Python': 'Kuch nahi', 'Java': ['Java java java']}

In [62]:
d["Java"]=["golang"]

In [63]:
print(d)

{'Python': 'Kuch nahi', 'Java': ['golang']}

In [64]:
"""Information store 
Name acc_number balance password pancard_number
Alice
Bob 
Smith"""

'Information store \nName acc_number balance password pancard_number\nAlice\nBob \nSmith'

In [72]:
d={"Python":{"name":"Python",
            "year":1994,
            "version":[3.8],
            "type":"Programming language",
            "Father":"Guido von rossum"}}

In [74]:
p=[2.7,3.6,3.7]
for var in p:
    d["Python"]["version"].insert(0,var)

In [75]:
d

{'Python': {'name': 'Python',
  'year': 1994,
  'version': [3.7, 3.6, 2.7, 3.8],
  'type': 'Programming language',
  'Father': 'Guido von rossum'}}

In [69]:
print(dir(p))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [77]:
#Homework
d={"Python":{"name":"Python",
            "year":1994,
            "version":3.8,#[2.7,3.6,3.7,3.8]
            "type":"Programming language",
            "Father":"Guido von rossum"},
  "Python":"Kuch nahi"}

len(xyz)-->n
xyz=x**n+y**n+z**n-->armstrong

In [86]:
number=input("Enter number : ")
temp=0
for var in number:
    var=int(var)
    var=var**len(number)
    temp=temp+var
if int(number)==temp:
    print("Number is Armstrong")
else:
    print("Number is not Armstrong")

Enter number : 407
Number is Armstrong

In [1]:
number=int(input("Enter your number : "))
temp=0
temp_2=number
while temp_2>0:
    digit=temp_2%10
    temp=temp+digit**len(str(number))
    temp_2=temp_2//10
if number==temp:
    print("arms")
else:
    print("Number is not arms")

Enter your number : 407
arms