In [1]:
Price=[60,90,68,74,36,98,14]

In [2]:
print(Price)

[60, 90, 68, 74, 36, 98, 14]

In [3]:
print(type(Price))

<class 'list'>

In [4]:
Discount=[]
for var in Price:
    data=var/2
    Discount.append(data)

In [5]:
print(Price)
print(Discount)

[60, 90, 68, 74, 36, 98, 14]
[30.0, 45.0, 34.0, 37.0, 18.0, 49.0, 7.0]

In [6]:
from numpy import array

In [7]:
Price=[60,90,68,74,36,98,14]
arr=array(Price)

In [8]:
print(arr)

[60 90 68 74 36 98 14]

In [9]:
print(type(arr))

<class 'numpy.ndarray'>

In [12]:
arr=arr/2

In [13]:
print(arr)

[30. 45. 34. 37. 18. 49.  7.]

In [14]:
Price=[60,90,68,74,36,98,14]
Price=Price/2
print(Price)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [15]:
student=["Alice","Bob","Jhon","Sudarshan","shivmohan","Prabodh"]

In [16]:
print(student)

['Alice', 'Bob', 'Jhon', 'Sudarshan', 'shivmohan', 'Prabodh']

In [17]:
print(dir(student))#--->print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [18]:
student.append("Piyush")

In [19]:
print(student)

['Alice', 'Bob', 'Jhon', 'Sudarshan', 'shivmohan', 'Prabodh', 'Piyush']

In [25]:
student_1=["Alice","Bob","Jhon","Sudarshan","shivmohan","Prabodh"]
student_2=["Komal","Nehal","Sana"]

In [26]:
student_1.append(student_2)

In [27]:
print(student_1)

['Alice', 'Bob', 'Jhon', 'Sudarshan', 'shivmohan', 'Prabodh', ['Komal', 'Nehal', 'Sana']]

In [28]:
for var in student_1:
    print(var)

Alice
Bob
Jhon
Sudarshan
shivmohan
Prabodh
['Komal', 'Nehal', 'Sana']

In [29]:
student_1=["Alice","Bob","Jhon","Sudarshan","shivmohan","Prabodh"]
student_2=["Komal","Nehal","Sana"]

In [30]:
student_1.extend(student_2)

In [31]:
print(student_1)

['Alice', 'Bob', 'Jhon', 'Sudarshan', 'shivmohan', 'Prabodh', 'Komal', 'Nehal', 'Sana']

In [32]:
for var in student_1:
    print(var)

Alice
Bob
Jhon
Sudarshan
shivmohan
Prabodh
Komal
Nehal
Sana

In [33]:
student=[1,2,3]
student.extend("Piyush")#string is iterable i.e.P,i,y,u,s,h are the individuals
print(student)

[1, 2, 3, 'P', 'i', 'y', 'u', 's', 'h']

In [34]:
student=[1,2,3]
for var in "Piyush" :
    student.append(var)#string is iterable i.e.P,i,y,u,s,h are the individuals
print(student)

[1, 2, 3, 'P', 'i', 'y', 'u', 's', 'h']

In [35]:
student=["Alice","Afzal","Bob","Bunty","Cat","Cuckoo"]

In [37]:
student.insert(2,"Adam")

In [38]:
print(student)

['Alice', 'Afzal', 'Adam', 'Bob', 'Bunty', 'Cat', 'Cuckoo']

In [39]:
student=["Alice","Afzal","Bob","Bunty","Cat","Cuckoo"]
name="Smith"
student.insert(3,name)
print(student)

['Alice', 'Afzal', 'Bob', 'Smith', 'Bunty', 'Cat', 'Cuckoo']

In [40]:
student.pop()

'Cuckoo'

In [41]:
print(student)

['Alice', 'Afzal', 'Bob', 'Smith', 'Bunty', 'Cat']

In [42]:
student.pop(2)

'Bob'

In [43]:
print(student)

['Alice', 'Afzal', 'Smith', 'Bunty', 'Cat']

In [44]:
student.remove("Afzal")

In [45]:
print(student)

['Alice', 'Smith', 'Bunty', 'Cat']

In [46]:
counter=0
for var in student:
    if var=="Smith":
        student.pop(counter)
    else:
        counter=counter+1
print(student)

['Alice', 'Bunty', 'Cat']

In [47]:
student.index("Cat")

2

In [48]:
student[2]

'Cat'

In [49]:
student.index("Smith")

ValueError: 'Smith' is not in list

In [50]:
print(student)

['Alice', 'Bunty', 'Cat']

In [51]:
student.remove("Smith")

ValueError: list.remove(x): x not in list

In [52]:
student=[1,2,3,4,1,1,"Alice","Bob","Alice"]

In [53]:
student.count("Alice")

2

In [54]:
student.count(1)

3

In [55]:
student=[1,2,3,4,5,6,7,8,9]

In [56]:
print(student)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
student.reverse()

In [58]:
print(student)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [59]:
student=["Alice","Bob","Jhon","Adam"]

In [60]:
student.reverse()

In [61]:
print(student)

['Adam', 'Jhon', 'Bob', 'Alice']

In [62]:
numbers=[34,12,65,1,0,54,76,32,43,16]

In [63]:
print(numbers)
numbers.sort()
print(numbers)

[34, 12, 65, 1, 0, 54, 76, 32, 43, 16]
[0, 1, 12, 16, 32, 34, 43, 54, 65, 76]

In [68]:
numbers=[34,12,65,1,0,54,76,32,43,16]
print(numbers)
numbers.sort(reverse=True)#bydefault reverse=False
print(numbers)

[34, 12, 65, 1, 0, 54, 76, 32, 43, 16]
[76, 65, 54, 43, 34, 32, 16, 12, 1, 0]

In [69]:
student=["Alice","DJ","Bob","Adam","Cat"]

In [70]:
student.sort()

In [71]:
print(student)

['Adam', 'Alice', 'Bob', 'Cat', 'DJ']

In [72]:
number=172
bin(number)

'0b10101100'

In [73]:
"a","A"

('a', 'A')

In [74]:
#ASCII--> American standard code of information interchange

In [76]:
ord("A")

65

In [77]:
ord("a")

97

In [81]:
l=["a","A"]

In [82]:
l.sort()

In [83]:
l

['A', 'a']

In [84]:
#UTF-8 --> Unicode Transformation Format,8bit,16bit,32bit,64 bit-->18446744073709551616

In [87]:
#ASCII-->7 bit , 2**7 ,--->128
#Extended ASCII-->8bit ,2**8,--->256

In [89]:
print(student)

['Adam', 'Alice', 'Bob', 'Cat', 'DJ']

In [90]:
student.clear()

In [91]:
print(student)

[]