In [2]:
file=open("student.txt")
l=[]
data=file.read()
data=data.split("\n")
for var in data:
    if var=="sachin":
        pass
    else:
        l.append(var)
print(l)
file.close()

['piyush', 'sana', 'sudharshan', 'yadvenndra', 'rajat', 'prabodh', 'itiraj', 'himanshu', 'nitesh', 'gaurav']

In [3]:
student=["sana","Prabodh","Nitesh","Piyush"]
online_students=["Nehal","Sudha","Komal"]
student.append(online_students)

In [4]:
print(student)

['sana', 'Prabodh', 'Nitesh', 'Piyush', ['Nehal', 'Sudha', 'Komal']]

In [5]:
for var in student:
    print(var)

sana
Prabodh
Nitesh
Piyush
['Nehal', 'Sudha', 'Komal']

In [6]:
student.pop(4)

['Nehal', 'Sudha', 'Komal']

In [7]:
student

['sana', 'Prabodh', 'Nitesh', 'Piyush']

In [8]:
for var in online_students:
    student.append(var)

In [10]:
print(student)

['sana', 'Prabodh', 'Nitesh', 'Piyush', 'Nehal', 'Sudha', 'Komal']

In [11]:
student.extend("Afzla")

In [12]:
student

['sana',
 'Prabodh',
 'Nitesh',
 'Piyush',
 'Nehal',
 'Sudha',
 'Komal',
 'A',
 'f',
 'z',
 'l',
 'a']

In [13]:
print(dir(student))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [16]:
help(student)

Help on list object:

class list(object)
 |  list() -> new empty list
 |  list(iterable) -> new list initialized from iterable's items
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.n
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      L.__reversed__() -- return a reverse iterator over the list
 |
 |  __rmul__(self, value, /)
 |      Return self*value.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      L.__sizeof__() -- size of L in memory, in bytes
 |
 |  append(...)
 |      L.append(object) -> None -- append object to end
 |
 |  clear(...)
 |      L.clear() -> None -- remove all items from L
 |
 |  copy(...)
 |      L.copy() -> list -- a shallow copy of L
 |
 |  count(...)
 |      L.count(value) -> integer -- return number of occurrences of value
 |
 |  extend(...)
 |      L.extend(iterable) -> None -- extend list by appending elements from the iterable
 |
 |  index(...)
 |      L.index(value, [start, [stop]]) -> integer -- return first index of value.
 |      Raises ValueError if the value is not present.
 |
 |  insert(...)
 |      L.insert(index, object) -- insert object before index
 |
 |  pop(...)
 |      L.pop([index]) -> item -- remove and return item at index (default last).
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(...)
 |      L.remove(value) -> None -- remove first occurrence of value.
 |      Raises ValueError if the value is not present.
 |
 |  reverse(...)
 |      L.reverse() -- reverse *IN PLACE*
 |
 |  sort(...)
 |      L.sort(key=None, reverse=False) -> None -- stable sort *IN PLACE*
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [17]:
a=[1,2,3]

In [18]:
a.count(2)

1

In [19]:
data

['piyush',
 'sachin',
 'sana',
 'sudharshan',
 'yadvenndra',
 'rajat',
 'prabodh',
 'itiraj',
 'himanshu',
 'nitesh',
 'gaurav']

In [20]:
data.count("itiraj")

1

In [21]:
data.append("piyush")

In [22]:
data.count("piyush")

2

In [23]:
counter=0
for var in data:
    if "piyush"==var:
        counter+=1
print(counter)

2

In [24]:
data.index("piyush")

0

In [25]:
data.index("piyush",1)

11

In [26]:
data[11]

'piyush'

In [27]:
print(dir(data))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [28]:
print(data)

['piyush', 'sachin', 'sana', 'sudharshan', 'yadvenndra', 'rajat', 'prabodh', 'itiraj', 'himanshu', 'nitesh', 'gaurav', 'piyush']

In [29]:
data.index("rajat")

5

In [30]:
data.insert(5,"gaurav")

In [31]:
print(data)

['piyush', 'sachin', 'sana', 'sudharshan', 'yadvenndra', 'gaurav', 'rajat', 'prabodh', 'itiraj', 'himanshu', 'nitesh', 'gaurav', 'piyush']

In [34]:
data.insert(8,"gaurav")

In [35]:
data

['piyush',
 'sachin',
 'sana',
 'sudharshan',
 'yadvenndra',
 'gaurav',
 'gaurav',
 'rajat',
 'gaurav',
 'prabodh',
 'itiraj',
 'himanshu',
 'nitesh',
 'gaurav',
 'piyush']

In [37]:
file=open("student.txt")

In [38]:
data=file.read()

In [39]:
print(data)

1 piyush
4 sachin
6 sana
9 sudharshan
7 yadvenndra
3 rajat
2 prabodh
8 itiraj
11 himanshu
5 nitesh
10 gaurav

In [40]:
data=data.split("\n")

In [41]:
print(data)

['1 piyush', '4 sachin', '6 sana', '9 sudharshan', '7 yadvenndra', '3 rajat', '2 prabodh', '8 itiraj', '11 himanshu', '5 nitesh', '10 gaurav']

In [56]:
l=[]
roll_number=[var for var in range(1,12)]
number=list(map(str,roll_number))
number.insert(0,"0")
for var in roll_number:
    for var2 in data:
        if var2[0]==str(var) and var2[1] not in number:
            l.append(var2)

In [57]:
l

['1 piyush',
 '2 prabodh',
 '3 rajat',
 '4 sachin',
 '5 nitesh',
 '6 sana',
 '7 yadvenndra',
 '8 itiraj',
 '9 sudharshan']

In [53]:
int(' ')

ValueError: invalid literal for int() with base 10: ' '

In [58]:
print(data)

['1 piyush', '4 sachin', '6 sana', '9 sudharshan', '7 yadvenndra', '3 rajat', '2 prabodh', '8 itiraj', '11 himanshu', '5 nitesh', '10 gaurav']

In [59]:
data.pop()

'10 gaurav'

In [60]:
data

['1 piyush',
 '4 sachin',
 '6 sana',
 '9 sudharshan',
 '7 yadvenndra',
 '3 rajat',
 '2 prabodh',
 '8 itiraj',
 '11 himanshu',
 '5 nitesh']

In [61]:
data.pop(2)

'6 sana'

In [62]:
data

['1 piyush',
 '4 sachin',
 '9 sudharshan',
 '7 yadvenndra',
 '3 rajat',
 '2 prabodh',
 '8 itiraj',
 '11 himanshu',
 '5 nitesh']

In [63]:
data.remove("4 sachin")

In [64]:
data

['1 piyush',
 '9 sudharshan',
 '7 yadvenndra',
 '3 rajat',
 '2 prabodh',
 '8 itiraj',
 '11 himanshu',
 '5 nitesh']

In [76]:
from random import randint
l=[var for var in range(20)]
rl=[]
for var in l:
    rl.append(randint(0,20))

In [77]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [78]:
rl

[2, 10, 3, 0, 11, 18, 4, 13, 12, 9, 1, 15, 3, 19, 12, 8, 19, 5, 3, 3]

In [79]:
l.reverse()

In [80]:
l

[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [81]:
l.reverse()

In [82]:
rl.sort()

In [83]:
rl

[0, 1, 2, 3, 3, 3, 3, 4, 5, 8, 9, 10, 11, 12, 12, 13, 15, 18, 19, 19]

In [84]:
rl.sort(reverse=True)

In [85]:
rl

[19, 19, 18, 15, 13, 12, 12, 11, 10, 9, 8, 5, 4, 3, 3, 3, 3, 2, 1, 0]

In [88]:
l=["a","c","b"]

In [89]:
l.reverse()

In [90]:
l

['b', 'c', 'a']

In [91]:
l.sort()

In [92]:
l

['a', 'b', 'c']

In [93]:
l.append(" ")

In [94]:
l

['a', 'b', 'c', ' ']

In [95]:
l.sort()

In [96]:
l

[' ', 'a', 'b', 'c']

In [97]:
ord("a")

97

In [98]:
ord(" ")

32