In [1]:
afzal_student=["Alice","Bob","Jhon"]

In [2]:
ajay_student=afzal_student

In [3]:
print(afzal_student)

['Alice', 'Bob', 'Jhon']

In [4]:
print(ajay_student)

['Alice', 'Bob', 'Jhon']

In [5]:
ajay_student.append("Kapil")

In [6]:
print(ajay_student)

['Alice', 'Bob', 'Jhon', 'Kapil']

In [7]:
print(afzal_student)

['Alice', 'Bob', 'Jhon', 'Kapil']

In [8]:
print(id(afzal_student))

2535918585544

In [9]:
print(id(ajay_student))

2535918585544

In [10]:
afzal_student=["Alice","Bob","Jhon"]

In [11]:
ajay_student=afzal_student.copy()

In [12]:
print(afzal_student)

['Alice', 'Bob', 'Jhon']

In [13]:
print(afzal_student)

['Alice', 'Bob', 'Jhon']

In [14]:
afzal_student is ajay_student

False

In [15]:
ajay_student.append("Kapil")

In [17]:
print(ajay_student)

['Alice', 'Bob', 'Jhon', 'Kapil']

In [18]:
print(afzal_student)

['Alice', 'Bob', 'Jhon']

In [19]:
afzal_student=["Alice","Bob","Jhon",[1,2,3]]

In [20]:
ajay_student=afzal_student.copy()

In [21]:
print(afzal_student)

['Alice', 'Bob', 'Jhon', [1, 2, 3]]

In [22]:
print(ajay_student)

['Alice', 'Bob', 'Jhon', [1, 2, 3]]

In [23]:
ajay_student.append("Kapil")

In [24]:
print(ajay_student)

['Alice', 'Bob', 'Jhon', [1, 2, 3], 'Kapil']

In [25]:
print(afzal_student)

['Alice', 'Bob', 'Jhon', [1, 2, 3]]

In [26]:
ajay_student[3].append(4)

In [27]:
print(ajay_student)

['Alice', 'Bob', 'Jhon', [1, 2, 3, 4], 'Kapil']

In [28]:
print(afzal_student)

['Alice', 'Bob', 'Jhon', [1, 2, 3, 4]]

In [29]:
id(afzal_student)

2535918584648

In [30]:
id(ajay_student)

2535919147912

In [31]:
id(afzal_student[1])

2535918666840

In [32]:
id(ajay_student[1])

2535918666840

In [40]:
afzal_student=["Alice","Bob","Jhon",[1,2,3]]

In [41]:
from copy import deepcopy

In [42]:
ajay_student=deepcopy(afzal_student)

In [43]:
print(afzal_student)

['Alice', 'Bob', 'Jhon', [1, 2, 3]]

In [44]:
print(ajay_student)

['Alice', 'Bob', 'Jhon', [1, 2, 3]]

In [45]:
afzal_student is ajay_student

False

In [46]:
afzal_student[1] is ajay_student[1]

True

In [47]:
id(afzal_student[1])

2535918666840

In [48]:
id(ajay_student[1])

2535918666840

In [49]:
afzal_student[3]

[1, 2, 3]

In [50]:
afzal_student[3] is ajay_student[3]

False

In [51]:
id(afzal_student[3])

2535919296712

In [52]:
id(ajay_student[3])

2535919363080

In [53]:
ajay_student[3].append(4)

In [54]:
ajay_student

['Alice', 'Bob', 'Jhon', [1, 2, 3, 4]]

In [55]:
afzal_student

['Alice', 'Bob', 'Jhon', [1, 2, 3]]

# lambda function

* it is known as anonymous function
* it is also known as inline-function
* we can use multiple arguments but only a single expression in this function
* we use 'lambda' keyword to declare a lambda function

In [56]:
def Iseven(number):
    if number<0 or number==0:
        return "Invalid Number"
    elif number%2==0:
        return True
    else:
        return False

In [57]:
Iseven(12)

True

In [58]:
Iseven(0)

'Invalid Number'

In [59]:
#True if expression else False

In [60]:
#syntax of lambda:--
#lambda arg1,arg2.....argn : expression

In [61]:
iseven=lambda number : True if number%2==0 else False

In [62]:
iseven(12)

True

In [63]:
iseven(11)

False

In [64]:
"""
we use return keyword to return the final output data"""
def add(a,b):
    return a+b

In [65]:
add(1,2)

3

In [66]:
"""we can not use return keyword in lambda function to return data
it return its evaluated expression"""
add=lambda a,b : a+b

In [67]:
add(1,2)

3

In [68]:
add=lambda a,b : return a+b

SyntaxError: invalid syntax (<ipython-input-68-26f360ee9a12>, line 1)

In [69]:
def isprime(number):
    for var in range(2,number-1):
        if number%var==0:
            return False
    else:
        return True

In [70]:
isprime(13)

True

In [71]:
isprime(17)

True

In [72]:
isprime(11)

True

In [73]:
isprime(12)

False

In [74]:
def greatest(a,b,c):
    if a>b and a>c:
        return a
    elif b>c:
        return b
    else:
        return c

In [75]:
greatest(1,2,3)

3

In [76]:
greatest(13,182,12)

182

In [77]:
greatest=lambda a,b,c: a if a>b and a>c else b if b>c else c

In [78]:
greatest(1,2,3)

3

In [79]:
greatest(12,322,1)

322

# Map,filter and Reduce are the built in 
# functions

### Map bulit in function

syntax of map:---

map(function_name,iterable)

In [104]:
lis=[var for var in range(1,11)]

In [81]:
print(lis)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
sq=[]
for var in lis:
    sq.append(var**2)

In [83]:
print(lis)
print(sq)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [105]:
def sq(number):
    return number**2

In [85]:
sq(12)

144

In [86]:
map(sq,lis)

* map fucntion always return the map object
* map object is an iterable object

In [106]:
data=map(sq,lis)

In [88]:
print(data)

<map object at 0x0000024E7093B9E8>

In [89]:
for var in data:
    print(var)

1
4
9
16
25
36
49
64
81
100

In [90]:
print(data)

<map object at 0x0000024E7093B9E8>

* we can convert a map object into a list by using list()
* we can also convert it into tuple by using tuple()

In [91]:
print(data)

<map object at 0x0000024E7093B9E8>

In [107]:
lis=list(data)

In [108]:
print(lis)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [109]:
print(lis)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [110]:
print(data)

<map object at 0x0000024E7093B7B8>

In [111]:
for var in data:
    print(var)

In [114]:
an_lis=list(map(lambda number : number**2,[1,2,3,4,5,6,7,8,9,10]))

In [115]:
print(an_lis)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]